@charset "utf-8";

@font-face {
    font-family: Regular;
    src: url('../font/MyriadPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

/* -- reset -- */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
    margin: 0;
    padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
address,
figure,
figcaption,
menu,
details {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
    font-weight: normal;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

img {
    border: none;
    vertical-align: top;
}

input,
textarea {
    outline: none;
}

textarea {
    overflow: auto;
    resize: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: normal;
    line-height: 1.1;
    color: inherit;
}

/* -- reset end -- */

.big-img {
    width: 100%;
    height: 100%;
}

.main {
    background-color: #F5F5F5;
    min-height: 100vh;
    padding-top: 100px;
    font-family: Regular;
}

.osContent a,
.osContent a:hover {
    text-decoration: none;
    color: #000;
}

.osContent p {
    margin-bottom: 0;
}

.osContent {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.osContent ul{
    font-size: 0;
}
.osContent ul li{
    width: 100%;
    background-color: white;
    padding: 20px 30px;
    margin: 20px 0;
}
.osContent ul li .title{
    font-size: 30px;
    font-weight: 400;
    color: #111111;
}
.osContent ul li .toolBox .name{
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    color: #333333;
}
.osContent ul li .toolBox {
    margin-top: 69px;
    margin-bottom: 50px;
}
.osContent ul li .toolBox .tool-item{
    text-align: center;
    display: inline-block;
    width: 16.66%;
    margin-bottom: 30px;
}
.osContent ul li .toolBox .tool-item .line-word{
    margin-top: 20px;
}
.osContent ul li .toolBox .number{
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
    color: #999999;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
@media screen and (max-width:1200px)and (min-width:800px) {
    .osContent{
        width: 96%;
    }
    .osContent ul li .toolBox .tool-item {
        width: 20%;
    }
}

@media screen and (max-width:1000px) {
    .header_main {
        width: 1000px;
    }
}

@media screen and (max-width: 800px) {}