@charset "utf-8";
@font-face {
    font-family: Avenir;
    src: url('../font/ProximaNova-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

/* -- reset -- */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
.main p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
    margin: 0;
    padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
address,
figure,
figcaption,
menu,
details {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
    font-weight: normal;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

.main a,
.main a:hover {
    text-decoration: none;
    color: #000;
}

a,
button {
    color: #000;
    cursor: pointer;
}

img {
    border: none;
    vertical-align: top;
}

input,
textarea {
    outline: none;
}

textarea {
    overflow: auto;
    resize: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: normal;
    line-height: 1.1;
    color: inherit;
}

/* -- reset end -- */

.main {
    font-family: Avenir;
    font-size: 1rem;
}

#AMain {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: transparent;
    margin-top: 60px;
    background-color: #F5F5F5;
}

.big-img {
    width: 100%;
}
.products-lists ul li.item-list{
    display: none;
}
.products-lists ul li.item-list.active{
    display: block !important;
}
img {
    -webkit-user-drag: none;
}

.mainContent {
    position: relative;
}

.productsBox {
    padding: 2vw 0;
}

.productsBox .products-sort {
    width: 80%;
    min-width: 1000px;
    margin: 80px auto 35px auto;
    overflow: hidden;
    position: relative;
    font-size: 0;
    height: auto;
}

.productsBox .products-sort .products-tabs {
    position: relative;
}

.productsBox .products-sort .products-filters {
    float: right;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.productsBox .products-sort .products-filters .reset {
    color: #000;
    cursor: pointer;
    display: none;
    padding: 0 10px;
    font-size: 16px;
    margin-right: 10px;
    text-decoration: underline;
}

.productsBox .products-sort .products-filters .filter-btn {
    position: relative;
    display: inline-block;
    font-size: 16px;
    padding: 0 60px 0 25px;
    height: 42px;
    cursor: pointer;
    line-height: 42px;
    border-radius: 21px;
    background-color: #fff;
    border-color: white;
    color: #1e1e1e;
    letter-spacing: 1.5px;
}

.productsBox .products-sort .products-filters .filter-btn .filter-close-btn {
    width: 20px;
    height: 20px;
    display: block;
    padding: 0;
    position: absolute;
    top: 11px;
    right: 25px;
}

.productsBox .products-sort .products-filters .filter-btn span {
    display: block;
    position: absolute;
    content: '';
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    -webkit-transform-origin: center;
    transform-origin: center;
    width: 20px;
    height: 2px;
    left: 0;
    background-color: #1e1e1e;
    top: 8px;
    ;
}

.productsBox .products-sort .products-filters .filter-btn span:nth-child(2) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.productsBox .products-sort .products-filters .filter-btn .filter-close-btn.active {
    position: absolute;
    top: 5px;
    right: 20px;
}

.productsBox .products-sort .products-filters .filter-btn .filter-close-btn.active span:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px);
}

.productsBox .products-sort .products-filters .filter-btn .filter-close-btn.active span:nth-child(2) {
    -webkit-transform: scale(.05, 1);
    transform: scale(.05, 1);
    top: 15px;
}

.productsBox .products-sort .products-filters .filter-btn .filter-close-btn.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
    transform: rotate(-45deg) translate(5px, -5px);
    top: 22px;
}

.productsBox .products-sort .products-tabs span {
    display: inline-block;
    border-radius: 21px;
    font-size: 20px;
    height: 42px;
    line-height: 42px;
}

.productsBox .products-sort .products-tabs a.active span {
    padding: 0 50px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
}

.productsBox .products-sort .products-tabs a {
    margin-right: 40px;
    float: left;
    height: 42px;
    line-height: 42px;
    min-width: 125px;
    text-align: center;
    color: #000;
}

.productsBox .products-sort .products-tabs a.active {
    padding: 1px;
    border-radius: 21px;
    border: 1px solid #000;
    overflow: hidden;
    display: inline-block;
}

#collapseExample {
    width: 96%;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
}

#collapseExample h2 {
    margin: 0;
    font-size: 20px;
    color: #1e1e1e;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 100%;
    position: absolute;
    top: 40px;
    z-index: 2;
}

#collapseExample .line {
    margin-top: 35px;
    width: 100%;
    height: 2px;
    background: #000;
}

#collapseExample h2 span {
    padding: 0 15px;
    background: #fff;
    display: inline-block;
}

#collapseExample .filters-cate {
    margin: 54px auto 0 auto;
    font-size: 0;
    width: 80%;
    max-width: 1200px;
    overflow: hidden;
}

#collapseExample .filters-cate li {
    clear: both;
    margin-bottom: 48px;
    overflow: hidden;
}

#collapseExample .filters-cate .cate-tit {
    vertical-align: top;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    width: 20%;
    height: 42px;
    line-height: 42px;
}

.filters-cate li .cate-box {
    width: 80%;
    display: inline-block;
}

.filters-cate li .cate-box span {
    color: #000;
    width: auto;
    float: left;
    cursor: pointer;
    height: 42px;
    line-height: 42px;
    margin: 0 30px 16px 0;
    font-size: 16px;
    padding: 0 20px;
}

.filters-cate li .cate-box span.on {
    border-radius: 21px;
    background-color: #00b1ff;
    font-weight: bold;
    color: #fff;
}

.products-lists {
    padding: 0 2vw 20px 2vw;
    position: relative;
}

.products-lists ul {
    position: relative;
    font-size: 0;
}

.products-lists ul li {
    width: 24%;
    background-color: white;
    display: inline-block;
    margin: 1vw .5%;
    height: auto;
    overflow: hidden;
    padding: 2vw 0;
}
.products-lists ul li .product-img{
    width: 80%;
    margin: 0 auto;
}
.products-lists ul li a img {
    display: none;
}

.products-lists ul li a img.on {
    display: block;
    transition-delay: 1s;
}

.products-lists ul li .product-img.on {
    background-image: url('../img/loading.gif');
    background-size: 15% 15%;
    background-position: center;
    background-repeat: no-repeat;
}

.products-lists ul li .product-color {
    text-align: center;
    margin: 20px 0 10px 0;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-lists ul li .product-color span {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    margin-top: 6px;
}

.products-lists ul li .product-color .on span {
    border: 0;
    padding: 0;
    width: 24px;
    height: 24px;
}

.products-lists ul li .product-color div {
    display: inline-block;
    margin: 0 3px;
    width: 20px;
}

.products-lists ul li .products-name {
    text-align: center;
    font-size: 30px;
    height: auto;
    margin-top: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 1;
}

.products-lists ul li .buy {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.products-lists ul li .buy button {
    font-size: 20px;
    line-height: 1.3;
}

.products-lists ul li .buy button:last-child {
    margin-left: 1%;
}

.products-lists ul li .buy .btn-outline-light {
    color: rgb(61, 61, 61);
    border-color: rgb(61, 61, 61);
}








/* end */

@media screen and (max-width: 800px) {
    .products-lists ul li .products-name{
        font-size: 5vw;
    }
    .productsBox .products-sort .products-tabs a {
        margin-right: 0;
        min-width: 125px;
    }
    .productsBox .products-sort .products-tabs a.active span {
        padding: 0 10px;
    }
    .products-lists ul li {
        width: 49%;
    }
    .productsBox .products-sort{
        min-width: auto;
        width: 96%;
        margin: 0 auto;
    }
}

@media screen and (max-width:1500px)and (min-width:1000px) {
    .products-lists ul li {
        width: 24%;
        margin: .5vw .5%;
    }
    .products-lists ul li .buy button {
        font-size: 16px;
    }
}

@media screen and (max-width:1200px)and (min-width:800px) {
    .products-lists ul li .product-img{
        width: 100%;
    }
    .products-lists ul li .products-name {
        font-size: 3vw;
    }
    .products-lists ul li a img.on {
      height: 100%;
      object-fit: contain;
    }
    .products-lists ul li {
        vertical-align: top;
        width: 31.33%;
        margin: 1.5vw 1%;
    }
    .productsBox .products-sort .products-tabs a {
        margin-right: 0px;
    }
    .productsBox .products-sort .products-tabs a.active span {
        padding: 0px 20px;
    }
    .productsBox .products-sort .products-tabs span {
        font-size: 2vw;
    }
    .productsBox .products-sort {
        width: 96%;
        min-width: 768px;
        margin: 80px auto 35px auto;
    }
    #collapseExample .filters-cate {
        width: 96%;
    }
}

@media screen and (max-width:1000px) {
    .products-lists ul li .buy button {
        font-size: 14px;
    }
}