@charset "utf-8";
@font-face {
    font-family: Avenir;
    src: url('../font/ProximaNova-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
/* -- reset -- */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
    margin: 0;
    padding: 0;
}

header,
footer,
section,
article,
aside,
nav,
address,
figure,
figcaption,
menu,
details {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
    font-weight: normal;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

img {
    border: none;
    vertical-align: top;
}

input,
textarea {
    outline: none;
}

textarea {
    overflow: auto;
    resize: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1.1;
    color: inherit;
}

/* -- reset end -- */

/* header */
.head_iframe{
    z-index: 1;
    width:100%;
    height:60px;
}
.mainContent{
    font-family: Avenir;
}
a {
    text-decoration: none;
    color: #000;
}
.big-img {
    width: 100%;
}
.head_svg{
    display: none;
}

.pagesServer{
    padding: 8vw 0 5vw 0;
    width: 60%;
    min-width: 768px;
    font-family: Avenir;
    margin: 0 auto;
}
.pagesServer h5{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.pagesServer .data{
    font-size: 16px;
    text-align: center;
    margin-top: 3vw;
}
.pagesServer .content-list{
    padding: 1.5vw 0;
}
.pagesServer .title{
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 1vw;
    line-height: 1.3;
}
.pagesServer .msg{
    font-size: 20px;
    padding-top: 1vw;
    line-height: 1.3;
}

.go-top {
    position: fixed;
    display: none;
    top: calc(95vh - 50px);
    bottom: 38px;
    right: 20px;
    cursor: pointer;
    z-index: 111;
}

.go-top .top-icon {
    display: inline-block;
    position: relative;
    width: 44px;
    height: 44px;
    color: #000;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 23%);
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.go-top .top-icon svg {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}
 @media screen and (max-width: 800px) {
    .pagesServer .title {
        font-size: 22px;
    }
     .pagesServer{
         min-width: auto;
         width: 90%;
         margin-top: 100px;
     }
     .pagesServer h5 {
        font-size: 30px;
    }
     .pagesServer .msg {
        font-size: 16px;
    }
    .head_svg{
        display: inherit;
        position: fixed;
        right: 15px;
        z-index: 1111;
        top: 20px;
        
    }
    .head_iframe{
       transition: all .8s;
    }
} 