<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="Description" content="Wireless Headphones Without Compromise For Better Workouts">
    <title>OSCAL</title>
    <link rel='stylesheet' type='text/css' href='/static/css/community.css'>
    <link rel='stylesheet' type='text/css' href='/static/css/public.css'>
    <link rel='stylesheet' type='text/css' href="/static/lib/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="/static/lib/js/jquery-3.3.1.min.js"></script>
    <script async
        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
</head>

<body class="en">
    <div id="header" th:include="header :: myHeader">
    </div>
    <div id="AMain" class="main">
        <div class="mainContent">
            <div class="BlogContent" style="width: 50%;margin: 0 auto;min-width: 800px;padding: 2vw 0 4vw 0;">
                <p class="tit" style="text-align: center;font-size: 24px; font-weight: bold;">
                    Elevate Your Tablet Experience with Doke OS_P 1.0
                </p>
                <p class="msg" style="margin: 2vw 0;font-size: 22px">
                    Hi guys,
                </p>
                <p class="msg" style="margin: 1vw 0;">
                    I've got a Tab 9 recently, and am impressed by its self-developed OS, Doke OS_P 1.0. It pleases eyes
                    and delivers a smooth experience. Here I'd like to share with you some of its main features.
                </p>
                <p class="msg" style="text-align: left; font-weight: bold;margin: 1vw 0;">
                    Cold Room
                </p>
                <p class="msg" style="margin: 1vw 0;">
                    Cold Room is used for disabling the stealthy running of rogue apps, saving power and boosting
                    performance. Apps in frozen state can be restored anytime. If your tablet is running slow, its
                    battery starts draining quicker than ever, or the tablet overheats and need to cool down, you can
                    try this function.
                </p>
                <img class="big-img lazyload" src="/static/img/blog-img/20210519/4.png" alt="oscal">
                <p class="msg" style="text-align: left; font-weight: bold;margin: 1vw 0;">
                    System Manager(Via OTA to update)
                </p>
                <p class="msg" style="margin: 1vw 0;">
                    According to the information released, it is an all-in-one solution and has smart control over trash
                    cleaning, battery performance, gaming boosting, and how apps run in the background. I am looking
                    forward to try this function.
                </p>
                <p class="msg" style="text-align: left; font-weight: bold;margin: 1vw 0;">
                    Dark Mode
                </p>
                <p class="msg" style="margin: 1vw 0;">
                    Dark Mode, which has light text on a dark background, reduces the light emitted by device screens
                    while maintaining the minimum color contrast ratios. The result is reducing eye strain in dim light.
                    It seems helpful for those who stay up late at night.
                </p>
                <img class="big-img lazyload" src="/static/img/blog-img/20210519/5.png" alt="oscal">
                <p class="msg" style="text-align: left; font-weight: bold;margin: 1vw 0;">
                    Reading Mode
                </p>
                <p class="msg" style="margin: 1vw 0;">
                    Without the interference of color, my tablet is more like an e-reader as Kindle. Actually, to some
                    extent, Reading Mode dampens my urge to to keep loading up social media feeds or mobile games.
                </p>
                <img class="big-img lazyload" src="/static/img/blog-img/20210519/6.png" alt="oscal">
                <p class="msg" style="text-align: left; font-weight: bold;margin: 1vw 0;">
                    Gaussian Blur
                </p>
                <p class="msg" style="margin: 1vw 0;">
                    It is a nice feature. Highlight the main task window by blurring the background so useful
                    information stands out more clearly. Gaussian Blur applies to the drop-down menu, folders and more.
                </p>
                <img class="big-img lazyload" src="/static/img/blog-img/20210519/7.png" alt="oscal">

                <p class="msg" style="text-align: left; font-weight: bold;margin: 1vw 0;">
                    Smooth gesture operations
                </p>
                <p class="msg" style="margin: 1vw 0;">
                    Thanks to Doke OS_P 1.0, I have a smooth interact with Tab 9 by performing gestures on the
                    touchscreen. It really enhances the navigation experience and makes me want to interact with my
                    tablet more.
                </p>
                <img class="big-img lazyload" src="/static/img/blog-img/20210519/8.png" alt="oscal">
                <p class="msg" style="text-align: left; font-weight: bold;margin: 1vw 0;">
                    Screenshot and Long screenshot
                </p>
                <p class="msg" style="margin: 1vw 0;">
                    It is easy to take a screenshot and long screenshot. And users are allowed to edit the
                    screenshot with built-in tools such as Graffiti, mosaic and Free Shot.
                </p>
                <img class="big-img lazyload" src="/static/img/blog-img/20210519/9.png" alt="oscal">
                <p class="msg" style="text-align: left; font-weight: bold;margin: 1vw 0;">
                    Customized Color & Temperature
                </p>
                <p class="msg" style="margin: 1vw 0;">
                    Tab 9 supports full color temperature management which allows the system to adapt in the overall
                    visual quality. This opens up more ways for us to personalize our device.
                </p>
                <img class="big-img lazyload" src="/static/img/blog-img/20210519/10.png" alt="oscal">
                <p class="msg" style="text-align: left; font-weight: bold;margin: 1vw 0;">
                    Exquisite App Icons and Wallpapers
                </p>
                <p class="msg" style="margin: 1vw 0;">
                    Exquisite app icons are pleasing to the eye. And several wallpapers are provided for the big screen.
                    Among all of these, the beautiful landscape wallpaper is my favorite.
                </p>
                <p class="msg" style="margin: 1vw 0;">
                    After learning about above features of the Doke OS_P 1.0, what do you think of it? Are these
                    features useful for you?
                </p>
            </div>
        </div>
        <div class="go-top">
            <span class="top-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-chevron-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                </svg>
            </span>
        </div>
    </div>
    <div id="footer" th:include="footer :: myFooter">
    </div>
</body>

</html>
<script async src="/static/lib/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script src="/static/js/public.js"></script>