<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="Description" content="Wireless Headphones Without Compromise For Better Workouts">
    <title>OSCAL</title>
    <link rel='stylesheet' type='text/css' href='/static/css/news.css'>
    <link rel='stylesheet' type='text/css' href='/static/css/public.css'>
    <link rel='stylesheet' type='text/css' href="/static/lib/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="/static/lib/js/jquery-3.3.1.min.js"></script>
    <script async
        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
</head>

<body class="en">
    <div id="header" th:include="header :: myHeader">
    </div>
    <div id="AMain" class="main">
        <div class="mainContent">
            <img class="big-img lazyload" src="/static/img/OSCAL-newsContent-bg.jpg" alt="oscal">
            <div class="newsContentBox">
                <div class="word">
                    <p class="time">
                        March 14,2021
                    </p>
                    <p class="title">
                        Blackview Confirms New Sub-brand OSCAL;
                        OSCAL C20 Smartphone to Launch Soon
                    </p>
                    <p class="msg">
                        It is common to see famous phones brands roll out a sub-brand to cover more users, expand market
                        share and improve their competitiveness. For example, Xiaomi had the Redmi sub-brand and Huawei
                        launched the Honor sub-brand. And recently, the well-known outdoor rugged phone brand Blackview
                        has also announced that it will soon internationally establish a sub-brand called OSCAL.
                    </p>
                    <p class="msg">
                        As per the recent reports, OSCAL is positioned as a technology brand that focuses on product
                        performance, design, quality, and service. Taking ‘Only the Brave' as its brand tagline, OSCAL
                        is ambitious and committed to letting more people enjoy the smart devices at a very friendly
                        price.
                    </p>
                    <p class="msg">
                        The OSCAL product line includes outdoor rugged phone, mainstream smartphone, tablet, laptop and
                        earphone series. And it will strive to cover over 100 markets worldwide, including Europe,
                        Africa, Asia, Latin America, Oceania, etc.
                    </p>
                    <img class="big-img lazyload" data-src="/static/img/news-img/20210413/1.jpg" alt="oscal">
                    <p class="msg">
                        With the launch of this new sub-brand, its first smartphone product named OSCAL C20 is also
                        about to life. According to the news on OSCAL website, C20 upgrades your expectation from an
                        entry-level smartphone. Featured with an exquisite appearance and fine craftsmanship, it will be
                        available at an fairly competitive price.
                    </p>
                    <p class="msg">
                        As of now, we have no further information about this upcoming device. However, similar to the
                        Blackview brand, OSCAL takes design innovation, performance excellence, and attention to details
                        as its basis of product design and R&D, so we can safely expect that the device could be a very
                        affordable smartphone of high quality and performance.
                    </p>

                </div>

            </div>
            <div class="relatedNews">
                <p class="title">RELATED NEWS</p>
                <ul>
                    <li>
                        <a href="/templates/news/20210413.html" target="_self">
                            <div class="box">
                                <div class="top">
                                    <img class="big-img lazyload" src="/static/img/news_20210413.jpg" alt="oscal">
                                </div>
                                <div class="bottom">
                                    <div class="relatedNews_tit">
                                        <p class="other_news">News</p>
                                        <p class="time">April 13,2021</p>
                                    </div>
                                    <p class="tit">
                                        OSCAL Brand Launch: Let More People Enjoy the Smart Life
                                    </p>
                                    <p class="msg">
                                        Today, OSCAL brand has officially announced its launch.<br>

                                        OSCAL is a technology brand that focuses on product performance, design,
                                        quality, and service. Driven by the innovation DNA, we will always adhere to
                                        our concept of “Only the Brave” and be committed to letting everyone enjoy
                                        smart devices with leap-forward performance and trendsetting design at a
                                        very friendly price.

                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/templates/news/20210519.html" target="_self">
                            <div class="box">
                                <div class="top">
                                    <img class="big-img lazyload" src="/static/img/news_20210514.jpg" alt="oscal">
                                </div>
                                <div class="bottom">
                                    <div class="relatedNews_tit">
                                        <p class="other_news">News</p>
                                        <p class="time">May 19,2021</p>
                                    </div>
                                    <p class="tit">
                                        Blackview kicks off a wider global expansion by launching a new OSCAL brand
                                    </p>
                                    <p class="msg">
                                        In a bigger step toward becoming a major global player, the world-known rugged
                                        phone brand Blackview has announced its new brand, OSCAL, to the world today. At
                                        the same time, the OSCAL official website is live where the product shelf has
                                        presented the first product - OSCAL C20 smartphone.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/templates/news/20210314.html" target="_self">
                            <div class="box">
                                <div class="top">
                                    <img class="big-img lazyload" src="/static/img/news_img_20210314.jpg" alt="oscal">
                                </div>
                                <div class="bottom">
                                    <div class="relatedNews_tit">
                                        <p class="other_news">News</p>
                                        <p class="time">March 14,2021</p>
                                    </div>
                                    <p class="tit">
                                        Blackview Confirms New Sub-brand OSCAL;
                                        OSCAL C20 Smartphone to Launch Soon
                                    </p>
                                    <p class="msg">
                                        It is common to see famous phones brands roll out a sub-brand to cover more
                                        users, expand market share and improve their competitiveness. For example,
                                        Xiaomi had the Redmi sub-brand and Huawei launched the Honor sub-brand. And
                                        recently, the well-known outdoor rugged phone brand Blackview has also
                                        announced that it will soon internationally establish a sub-brand called
                                        OSCAL.
                                    </p>
                                    <p class="msg">
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="go-top">
            <span class="top-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-chevron-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                </svg>
            </span>
        </div>
    </div>
    <div id="footer" th:include="footer :: myFooter">
    </div>
</body>

</html>
<script async src="/static/lib/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script src="/static/js/news.js"></script>
<script src="/static/js/public.js"></script>