<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>OSCAL</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel='stylesheet' type='text/css' href='/css/news.css'>
    <link rel='stylesheet' type='text/css' href='/css/public.css'>
    <link rel='stylesheet' type='text/css' href="/lib/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="/lib/js/jquery-3.3.1.min.js"></script>
    <script async
        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
</head>

<body class="en">
    <div id="header" th:include="header :: myHeader">
    </div>
    <div id="AMain" class="main">
        <div class="mainContent">
            <img class="big-img lazyload" src="/img/OSCAL-newsContent-bg.jpg" alt="oscal">
            <div class="newsContentBox">
                <div class="word">
                    <p class="time" th:text="${newsDetail.news_cre}">
                     <!--   May 19,2021-->
                    </p>
                    <p class="title" th:text="${newsDetail.news_title}">
<!--                        Blackview kicks off a wider global expansion by launching a new OSCAL brand-->
                    </p>
                    <span th:utext="${newsDetail.news_sim_des}"></span>
                   <!-- <img class="big-img lazyload" data-src="/img/news-img/20210519/1.jpg" alt="oscal">
                    <p class="msg">
                        In a bigger step toward becoming a major global player, the world-known rugged phone brand Blackview has announced its new brand, OSCAL, to the world today. At the same time, the OSCAL official website is live where the product shelf has presented the first product - OSCAL C20 smartphone.
                    </p>
                    <p class="msg">
                        OSCAL is positioned as a technology brand that focuses on product performance, design, quality, and service. Driven by the innovation DNA, OSCAL is committed to letting young people enjoy smart devices with leap-forward performance and trendsetting design at a very friendly price. 
                    </p>
                    <p class="msg">
                        The OSCAL product line is planned to include the rugged outdoor phone series that Blackview has been so famous for. More include mainstream smartphone series, tablet series, earphone series, and robot series. And OSCAL strives to set foot in 100 global markets, including Europe, Africa, Asia, Latin America, Oceania, etc.
                    </p>
                    <img class="big-img lazyload" data-src="/img/news-img/20210519/2.jpg" alt="oscal">
                    <p class="msg">
                        Back to OSCAL's first product - the OSCAL C20 smartphone, it's an extreme budget phone while you can expect a stylish and luxurious design with exquisite craftsmanship that you can hardly see from a budget phone. For someone that is looking for a phone below $100, OSCAL C20 is the best deal you could have ever seen. More information about the specific price and details will follow soon.
                    </p>
                    <img class="big-img lazyload" data-src="/img/news-img/20210519/3.jpg" alt="oscal">
                    <p class="msg">
                        As a new brand from the same family, OSCAL shares the same R&D strength and QC power with Blackview. In the initial planning, OSCAL has overlapping product lines with Blackview but mainly targets young people. From this perspective, OSCAL distinguishes itself from Blackview with a different vision. Awaiting for OSCAL is a dynamic and promising journey that is full of many variables. What is certain for OSCAL is that it will be a friendly brand with friendly priced quality products for everyone. Stay tuned!                    </p>
                  -->
                </div>

            </div>
            <div class="relatedNews">
                <p class="title">RELATED NEWS</p>
                <ul>
                    <li th:each="news:${recentNewsList}">
                        <a th:href="${'/newsDetail/'}+${news.id}" target="_self">
                            <div class="box">
                                <div class="top">
                                    <img class="big-img lazyload" th:src="${news.news_img}" alt="oscal">
                                </div>
                                <div class="bottom">
                                    <div class="relatedNews_tit">
                                        <p class="other_news">News</p>
                                        <p class="time" th:text="${news.news_cre}"></p>
                                    </div>
                                    <p class="tit"  th:text="${news.news_title}">
                                     <!--   OSCAL Brand Launch: Let More People Enjoy the Smart Life-->
                                    </p>
                                    <p class="msg" th:text="${news.news_context}">
                                      <!--  Today, OSCAL brand has officially announced its launch.<br>

                                        OSCAL is a technology brand that focuses on product performance, design,
                                        quality, and service. Driven by the innovation DNA, we will always adhere to
                                        our concept of “Only the Brave” and be committed to letting everyone enjoy
                                        smart devices with leap-forward performance and trendsetting design at a
                                        very friendly price.-->

                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!--<li>
                        <a href="/news/20210519" target="_self">
                            <div class="box">
                                <div class="top">
                                    <img class="big-img lazyload" src="/img/news_20210514.jpg" alt="oscal">
                                </div>
                                <div class="bottom">
                                    <div class="relatedNews_tit">
                                        <p class="other_news">News</p>
                                        <p class="time">May 19,2021</p>
                                    </div>
                                    <p class="tit">
                                        Blackview kicks off a wider global expansion by launching a new OSCAL brand
                                    </p>
                                    <p class="msg">
                                        In a bigger step toward becoming a major global player, the world-known rugged
                                        phone brand Blackview has announced its new brand, OSCAL, to the world today. At
                                        the same time, the OSCAL official website is live where the product shelf has
                                        presented the first product - OSCAL C20 smartphone.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/news/20210314" target="_self">
                            <div class="box">
                                <div class="top">
                                    <img class="big-img lazyload" src="/img/news_img_20210314.jpg" alt="oscal">
                                </div>
                                <div class="bottom">
                                    <div class="relatedNews_tit">
                                        <p class="other_news">News</p>
                                        <p class="time">March 14,2021</p>
                                    </div>
                                    <p class="tit">
                                        Blackview Confirms New Sub-brand OSCAL;
                                        OSCAL C20 Smartphone to Launch Soon
                                    </p>
                                    <p class="msg">
                                        It is common to see famous phones brands roll out a sub-brand to cover more
                                        users, expand market share and improve their competitiveness. For example,
                                        Xiaomi had the Redmi sub-brand and Huawei launched the Honor sub-brand. And
                                        recently, the well-known outdoor rugged phone brand Blackview has also
                                        announced that it will soon internationally establish a sub-brand called
                                        OSCAL.
                                    </p>
                                    <p class="msg">
                                </div>
                            </div>
                        </a>
                    </li>-->
                </ul>
            </div>
        </div>

        <div class="go-top">
            <span class="top-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-chevron-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                </svg>
            </span>
        </div>
    </div>
    <div id="footer" th:include="footer :: myFooter">
    </div>
</body>

</html>
<script async src="/lib/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script src="/js/news.js"></script>
<script src="/js/public.js"></script>