<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="Description" content="Wireless Headphones Without Compromise For Better Workouts">
    <title>OSCAL</title>
    <link rel='stylesheet' type='text/css' href='../static/css/brand.css'>
    <link rel='stylesheet' type='text/css' href='../static/css/public.css'>
    <link rel="stylesheet" type="text/css" href="../static/lib/css/swiper.min.css">

    <script src="../static/lib/js/jquery-3.3.1.min.js"></script>
    <script async
        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
</head>

<body class="en">
    <div id="header" th:include="header :: myHeader">
        <!-- <div class="head_svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-menu-button-wide" viewBox="0 0 16 16">
                <path
                    d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-13z" />
                <path
                    d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
            </svg>
        </div> -->

    </div>
    <div id="AMain" class="main">
        <div class="watch_video">
            <div class="box1">
                <p class="tit">
                    ONLY THE BRAVE
                </p>
                <p class="watch_vid">
                    <a class="watch" href="#">Watch the video ></a>
                </p>
            </div>
            <img class="big-img lazyload" data-src="../static/img/brand_banner.jpg" alt="oscal">
        </div>
        <div class="mainContent">
            <div class="introduction">
                <div class="word">
                    <p class="title">
                        About OSCAL
                    </p>
                    <p class="msg">
                        OSCAL is a technology brand that focuses on product performance, design, quality, and service.
                        Driven by the innovation DNA, OSCAL is committed to letting everyone enjoy smart devices with
                        leap-forward performance and trendsetting design at a very friendly price.
                    </p>
                    <p class="msg">
                        OSCAL has an excellent R&D team, led by a number of technical experts who have worked for
                        decades in international first-line mobile phone companies, and consisting of nearly 100 R&D
                        engineers. They strive to maintain the leading position in the industry, and pay more attention
                        to customer experience and product quality. Design innovation, performance excellence, and
                        attention to details are the basis of OSCAL products' design and R&D. OSCAL has long cooperation
                        with first-class suppliers, and the supply of production materials is extremely stable.
                    </p>
                    <p class="msg">
                        At the beginning of 2021, OSCAL was awarded as The Most Potential Hi-Tech Brand to promisingly
                        reach the top technology brand worldwide. This year, OSCAL plans to launch several highly
                        affordable smart devices, including mainstream smartphones, rugged outdoor phones, tablets, and
                        earphones to open the global market. In the blueprint, OSCAL strives to cover over 100 markets
                        worldwide, including Europe, Africa, Asia, Latin America, Oceania, etc.
                    </p>
                </div>
                <div class="word">
                    <p class="title">
                        Innovation, Quality and Service
                    </p>
                    <ul>
                        <li>
                            <p class="p1">800+</p>
                            <p class="p2">Employees</p>
                        </li>
                        <li>
                            <p class="p1">50%+</p>
                            <p class="p2">R&D staff</p>
                        </li>
                        <li>
                            <p class="p1">100+ </p>
                            <p class="p2">Markets</p>
                        </li>
                        <li>
                            <p class="p1">120+</p>
                            <p class="p2">Distributors</p>
                        </li>
                        <li>
                            <p class="p1">9000m²</p>
                            <p class="p2">Factory area</p>
                        </li>
                        <li>
                            <p class="p1">3500m²</p>
                            <p class="p2">Headquarters area</p>
                        </li>
                    </ul>
                </div>
                <img class="big-img lazyload" data-src="../static/img/brand_video.jpg" alt="oscal">
                <div class="news_line">
                    <p class="title">
                        News Center
                    </p>
                    <ul class="line-year">
                    </ul>
                    <div class="swiper_box">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="go-top">
            <span class="top-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-chevron-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                </svg>
            </span>
        </div>
    </div>
    <div id="footer" th:include="footer :: myFooter">
    </div>
</body>

</html>
<script src="../static/lib/js/swiper.min.js"></script>
<script src="../static/lib/js/TweenMax.min.js"></script>
<script src="../static/js/brand.js"></script>
<script src="../static/js/public.js"></script>