<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="canonical" href="https://www.blackview.hk/contact-us" />
    <!--href 页面地址-->
    <title>Contact Us | Oscal</title>
    <meta name="description" content="Contact Us">
    <meta name="keywords"
        content="Looking for support with a personal touch? Feel free to send us an email, or start a chat with us for further support..">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/contact_us.css">
    <link rel='stylesheet' type='text/css' href="../static/lib/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <script
        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/jquery-3.3.1.min-20201130021002922.js"></script>
    <script src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
</head>

<body>
    <div id="header" th:include="header :: myHeader"></div>
    <!--参考页面：https://www.blackview.hk/contact-us-->
    <div class="contact-us-box main-contanter">
        <img class="big-img lazyload" data-src="../static/img/contactUsBg.webp" alt="oscal">

        <div class="navMenu">
            <ul class="nav" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-Chat-tab" data-toggle="pill" href="#pills-Chat" role="tab"
                        aria-controls="pills-Chat" aria-selected="true">Chat with Skype</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-Send-tab" data-toggle="pill" href="#pills-Send" role="tab"
                        aria-controls="pills-Send" aria-selected="false">Send us an Email</a>
                </li>
            </ul>
        </div>
        <div class="contact-us-main">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-Chat" role="tabpanel" aria-labelledby="pills-Chat-tab">
                    <div class="contact-left">
                        <div class="chat-item">
                            <p class="chat-item-name">Wholesale Pre-sale</p>
                            <ul>
                                <li><a class="sale" href="skype:live:tanghui_9116@163.com?chat" title="Tommy"
                                        target="_blank">Tommy</a></li>
                                <li><a class="sale" href="skype:live:gillnie1017@gmail.com?chat" title="kathy"
                                        target="_blank">kathy</a></li>
                            </ul>
                        </div>
                        <div class="chat-item">
                            <p class="chat-item-name">After-sale</p>
                            <ul>
                                <li><a class="sale" href="skype:live:3403902729?chat" title="Julia"
                                        target="_blank">Julia</a></li>
                            </ul>
                        </div>
                        <div class="chat-item">
                            <p class="chat-item-name">Retail Customer Service</p>
                            <ul>
                                <li><a class="sale" href="skype:live:.cid.2b4611d3ae4a8339?chat" title="Donna"
                                        target="_blank">Donna</a></li>

                            </ul>
                        </div>
                        <div class="chat-item">
                            <p class="chat-item-name">Marketing </p>
                            <ul class="marketing">
                                <li><a class="sale" href="skype:live:1484684467@qq.com?chat" title="Alston(Partner)"
                                        target="_blank">Alston(Partner)</a></li>
                                <li>
                                    <a class="sale" href="skype:live:476672581@qq.com?chat" title="Лида(Русский)"
                                        target="_blank">Лида(Русский)</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-Send" role="tabpanel" aria-labelledby="pills-Send-tab">
                    <div class="contact-right">
                        <ul class="sendTopUl">
                            <li>
                                <p class="tit">Product Pre-sale</p>
                                <div class="msg">
                                  <p class="msg">  Retail Pre-sale:
                                    <a href="mailto:Joanna@blackview.hk" target="_blank">Joanna@blackview.hk</a></p>
                                    <br class="sendBr">
                                  <p class="msg">  Wholesale Pre-sale:
                                    <a href="mailto:tommy@blackview.hk" target="_blank">tommy@blackview.hk</a></p>
                                </div>
                            </li>
                            <li>
                                <p class="tit">Support</p>
                                <div class="msg">  <a href="mailto:support02@blackview.hk">support02@blackview.hk</a></div>
                            </li>
                            <li>
                                <p class="tit">Marketing</p>
                                <div class="msg">   <a href="mailto:marketing@blackview.hk">Tommy@blackview.hk</a></div>
                            </li>
                        </ul>
                        <p class="p1">Please fill out the form below and we will reply by email within 48 hours</p>
                        <ul class="form-item">
                            <li>
                                <span class="red-star">*</span>
                                <sapn class="ipt-name">Email address</sapn>
                                <br><input data-name="email" class="form-ipt" type="email" autocomplete="email">
                                <div class="error-box">
                                    <span class="red-star error error-email"></span>
                                </div>
                            </li>
                            <li>
                                <span class="red-star">*</span>
                                <sapn class="ipt-name">Your Name</sapn>
                                <br><input data-name="contractName" class="form-ipt" type="text">
                                <div class="error-box">
                                    <span class="red-star error"></span>
                                </div>
                            </li>
                            <li>
                                <span class="red-star">*</span>
                                <sapn class="ipt-name">Category</sapn>
                                <br>
                                <select data-name="category" class="form-ipt">
                                    <option value="Purchase & Payments">Purchase & Payments</option>
                                    <option value="Order & Shipping">Order & Shipping</option>
                                    <option value="After Sales">After Sales</option>
                                    <option value="Complaints & Feedback">Complaints & Feedback</option>
                                    <option value="Blackview Account">Blackview Account</option>
                                </select>
                                <div class="error-box">
                                    <span class="red-star error"></span>
                                </div>
                            </li>
                            <li>
                                <sapn class="ipt-name">orderId</sapn>
                                <br><input data-name="orderId" class="form-ipt" type="text">
                                <div class="error-box">
                                    <span class="red-star error"></span>
                                </div>
                            </li>
                            <li>
                                <span class="red-star">*<sapn class="ipt-name">Model</sapn></span>
                                <br><input data-name="model" class="form-ipt" type="text">
                                <div class="error-box">
                                    <span class="red-star error"></span>
                                </div>
                            </li>
                            <li>
                                <span class="red-star">*</span>
                                <sapn class="ipt-name">Subject</sapn>
                                <br>
                                <input data-name="subject" class="form-ipt" type="text">
                                <div class="error-box">
                                    <span class="red-star error"></span>
                                </div>
                            </li>
                            <li>
                                <span class="red-star">*</span>
                                <sapn class="ipt-name">Briefly provide the details that you think we need to know</sapn>
                                <br>
                                <textarea data-name="content" autocomplete="off" rows="6"
                                    class="form-ipt form-textarea"></textarea>
                                <br>
                                <div class="error-box">
                                    <span class="red-star error"></span>
                                </div>
                            </li>
                            <li class="submit">
                                <span>Submit</span><br>
                            </li>
                            <div class="success" style="text-align: center">
                                <span style="color: green">Submitted successfully!</span>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="contact-content">
            </div>
        </div>
    </div>

    <div id="footer" th:include="footer :: myFooter"></div>
    <script src="../static/js/contact_us.js"></script>
    <script async src="../static/lib/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>

</body>

</html>