<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="canonical" href="https://www.blackview.hk/contact-us"/> <!--href 页面地址-->
    <title>Contact Us | Oscal</title>
    <meta name="description" content="Contact Us">
    <meta name="keywords" content="Looking for support with a personal touch? Feel free to send us an email, or start a chat with us for further support..">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/contact_us.css">
    <script src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/jquery-3.3.1.min-20201130021002922.js"></script>
    <script src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
</head>
<body>
<div id="header" th:include="header :: myHeader"></div>
<!--参考页面：https://www.blackview.hk/contact-us-->
<div class="contact-us-box main-contanter">

    <div class="contact-us-main">
        <div class="contact-us-tips" >
            <!--填充放假通知-->
        </div>
        <h3>Contact us</h3>
        <div class="contact-content">
            <div class="contact-left">
                <p class="p1">Chat with Skype</p>
                <div class="chat-item">
                    <p class="chat-item-name">Wholesale Pre-sale</p>
                    <ul>
                        <li><a class="sale" href="skype:tanghui_9116@163.com" title="Tommy" target="_blank">Tommy</a></li>
                        <li><a class="sale" href="skype:gillnie1017@gmail.com" title="kathy" target="_blank">kathy</a></li>
                        <!-- <li><a class="sale" href="skype:lichen2011" title="Lily" target="_blank">Lily</a></li>
                        <li><a class="sale" href="skype:nancy.xiao7" title="Nancy" target="_blank">Nancy</a></li>
                       
                        <li><a class="sale" href="skype:akonlee51" title="Akon" target="_blank">Akon</a></li>
                        <li><a class="sale" href="skype:helena.yanghuang" title="Helena" target="_blank">Helena</a></li> -->
                        <!-- <li><a class="sale" href="skype: lilylee.forever" title="Amanda Lee" target="_blank">Amanda Lee</a></li> -->
                    </ul>
                </div>
                <div class="chat-item chat-item-box">
                    <div class="left">
                        <p class="chat-item-name">After-sale</p>
                        <ul>
                            <li><a class="sale" href="skype:live:3403902729?chat" title="Julia" target="_blank">Julia</a></li>
                        </ul>
                    </div>
                    <div class="right">
                        <p class="chat-item-name">Retail Customer Service</p>
                        <ul>
                            <li><a class="sale" href="skype:live:.cid.2b4611d3ae4a8339?chat" title="Donna" target="_blank">Donna</a></li>

                        </ul>
                    </div>
                </div>
                <div class="chat-item">
                    <p class="chat-item-name">Marketing </p>
                    <ul class="marketing">
                        <li><a class="sale" href="skype:live:1484684467@qq.com?chat" title="Alston(Partner)" target="_blank">Alston(Partner)</a></li>
                        <li>
                            <a class="sale" href="skype:live:476672581@qq.com?chat" title="Лида(Русский)" target="_blank">Лида(Русский)</a></li>
                    </ul>
                </div>
                <div class="chat-item email-item">
                    <p class="chat-item-name">Email</p>
                </div>
                <ul class="contact-email-box">
                    <li class="active">Product Pre-sale</li>
                    <li>Support</li>
                    <li>Marketing</li>
                </ul>
                <ul class="email-content">
                    <li class="active">
                        <p>
                            Retail Pre-sale:
                            <a href="mailto:Joanna@blackview.hk" target="_blank">Joanna@blackview.hk</a>
                            <br>
                            Wholesale Pre-sale:
                            <a href="mailto:tanghui_9116@163.com" target="_blank" >tanghui_9116@163.com</a>
                        </p>
                    </li>
                    <li>
                        <a href="mailto:support02@blackview.hk">support02@blackview.hk</a>
                    </li>
                    <li>
                        <a href="mailto:marketing@blackview.hk"> marketing@blackview.hk</a>
                    </li>

                </ul>
            </div>
            <div class="contact-right">
                <p class="p1">Send us an Email</p>
                <p>Please fill out the form below and we will reply by email within 48 hours</p>
                <ul class="form-item">
                    <li>
                        <span class="red-star">*</span><sapn class="ipt-name">Email address</sapn>
                        <br><input data-name="email" class="form-ipt" type="email" autocomplete="email">
                        <div class="error-box">
                            <span class="red-star error error-email"></span>
                        </div>
                    </li>
                    <li>
                        <span class="red-star">*</span><sapn class="ipt-name">Your Name</sapn>
                        <br><input data-name="contractName" class="form-ipt" type="text">
                        <div class="error-box">
                            <span class="red-star error"></span>
                        </div>
                    </li>
                    <li>
                        <span class="red-star">*</span><sapn class="ipt-name">Category</sapn>
                        <br>
                        <select data-name="category" class="form-ipt">
                            <option value="Purchase & Payments">Purchase & Payments</option>
                            <option value="Order & Shipping">Order & Shipping</option>
                            <option value="After Sales">After Sales</option>
                            <option value="Complaints & Feedback">Complaints & Feedback</option>
                            <option value="Blackview Account">Blackview Account</option>
                        </select>
                        <div class="error-box">
                            <span class="red-star error"></span>
                        </div>
                    </li>
                    <li>
                        <sapn class="ipt-name">orderId</sapn>
                        <br><input data-name="orderId" class="form-ipt" type="text">
                        <div class="error-box">
                            <span class="red-star error"></span>
                        </div>
                    </li>
                    <li>
                        <span class="red-star">*</span><sapn class="ipt-name">Subject</sapn>
                        <br>
                        <input data-name="subject" class="form-ipt" type="text">
                        <div class="error-box">
                            <span class="red-star error"></span>
                        </div>
                    </li>
                    <li>
                        <span class="red-star">*</span>
                        <sapn class="ipt-name">Briefly provide the details that you think we need to know</sapn>
                        <br>
                        <textarea data-name="content" autocomplete="off" rows="6" class="form-ipt form-textarea"></textarea>
                        <br>
                        <div class="error-box">
                              <span class="red-star error"></span>
                        </div>
                    </li>
                    <li class="submit">
                        <span>Submit</span><br>
                    </li>
                    <div class="success" style="text-align: center">
                        <span style="color: green">Submitted successfully!</span>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>

 <div id="footer" th:include="footer :: myFooter"></div>
<script src="../static/js/contact_us.js"></script>


</body>
</html>
