<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="Description" content="Wireless Headphones Without Compromise For Better Workouts">
    <title>OSCAL</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel='stylesheet' type='text/css' href='../static/css/login.css'>
    <link rel='stylesheet' type='text/css' href='../static/css/public.css'>
    <link rel='stylesheet' type='text/css' href="../static/lib/bootstrap-4.6.0-dist/css/bootstrap.min.css">

    <script src="../static/lib/js/jquery-3.3.1.min.js"></script>
    <script async
        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
</head>

<body class="en">
    <div id="header" th:include="header :: myHeader">
    </div>
    <div id="AMain" class="main">
        <div class="loginContent">
            <div class="logo">
                <img src="../static/img/loginLogo.png" alt="logo">
            </div>
            <div class="tab-content border border-top-0" id="myTabContent">
                <div class="tab-pane fade show active" id="signIn" role="tabpanel" aria-labelledby="home-tab">
                    <div class="forgotPwd">
                        <div class="loginTabs">
                            <div class="forgotPwdWord">
                                <p class="title">Password assistance</p>
                                <p class="message">
                                    Enter your email to recover your password. You will receive an email with instructions. If you are having problems recovering your password contact.
                                </p>
                            </div>
                            <form id="forgotPwdForm" class="needs-validation-forgotPwdForm" novalidate>
                                <div class="mb-3">
                                    <input type="email" class="form-control" id="validationForgotPwd01"
                                        placeholder="Email Address" required>
                                    <div class="invalid-feedback">
                                        Please enter the correct email format
                                    </div>
                                </div>
                                <div class="mb-3 form-row">
                                    <div class="col-8">
                                        <input type="text" class="form-control form-control-lg" id="validationCustom03"
                                            placeholder="Code" required>
                                        <div class="invalid-feedback">
                                            Please enter Verification code
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <span class="btn btn-info btn-lg btn-block sendCode forget">Sends</span>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" id="validationForgotPwd02"
                                        placeholder="New password" pattern="[A-Za-z0-9]{6,30}" required>
                                    <div class="invalid-feedback">
                                        The password must be at least six digits
                                    </div>
                                </div>
                                <button class="btn btn-primary forgotPwdSubmitBtn" type="submit">Comfirm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" th:include="footer :: myFooter">
    </div>
</body>

</html>
<script src="../static/js/login.js"></script>
<script src="../static/js/public.js"></script>
<script async src="../static/lib/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>