<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="Description" content="Wireless Headphones Without Compromise For Better Workouts">
    <title>OSCAL</title>
    <link rel='stylesheet' type='text/css' href='../static/css/gallery.css'>
    <link rel='stylesheet' type='text/css' href='../static/css/public.css'>
    <link rel='stylesheet' type='text/css' href="../static/lib/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="../static/lib/js/jquery-3.3.1.min.js"></script>
    <script async
        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
</head>

<body class="en">
    <div id="header" th:include="header :: myHeader">
        <!-- <div class="head_svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-menu-button-wide" viewBox="0 0 16 16">
                <path
                    d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-13z" />
                <path
                    d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
            </svg>
        </div> -->

    </div>
    <div id="AMain" class="main">
        <div class="galleryContent">
            <div class="topBanner">
                <div class="tit">
                    SHOT ON OSCAL
                </div>
                <img class="big-img lazyload" data-src="../static/img/gallery/bg.jpg" alt="oscal">
            </div>
            <ul class="bottomGallery">
                <li class=""  onclick="gallerySort('night')" data-toggle="modal" data-target="#exampleModal">
                    <div class="word">
                        <p class="p1">
                            Shoot <br>

                        </p>
                        <p class="p2">
                            Great <br>
                            Night <br>
                            Photos
                        </p>
                    </div>
                    <img class="big-img lazyload" data-src="../static/img/gallery/night.jpg" alt="oscal">
                </li>
                <li onclick="gallerySort('light')" data-toggle="modal" data-target="#exampleModal">
                    <div class="word">
                        <p class="p1">
                            Shoot
                        </p>
                        <p class="p2">

                            Light <br>
                            Trails
                        </p>
                    </div>
                    <img class="big-img lazyload" data-src="../static/img/gallery/light.jpg" alt="oscal">
                </li>
                <li onclick="gallerySort('dog')" data-toggle="modal" data-target="#exampleModal">
                    <div class="word">
                        <p class="p1">
                            Shoot
                        </p>
                        <p class="p2">
                            A Dog <br>
                            Vlog
                        </p>
                    </div>
                    <img class="big-img lazyload" data-src="../static/img/gallery/dog.jpg" alt="oscal">
                </li>
                <li onclick="gallerySort('flower')" data-toggle="modal" data-target="#exampleModal">
                    <div class="word">
                        <p class="p1">
                            How to <br>
                            Take
                        </p>
                        <p class="p2">
                            Great <br>
                            Macro<br>
                            Photos
                        </p>
                    </div>
                    <img class="big-img lazyload" data-src="../static/img/gallery/flower.jpg" alt="oscal">
                </li>
            </ul>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Gallery</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="slider">
                               
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="go-top">
            <span class="top-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-chevron-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                </svg>
            </span>
        </div>
    </div>
    <div id="footer" th:include="footer :: myFooter">
    </div>
</body>

</html>
<script async src="../static/lib/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script src="../static/js/public.js"></script>
<script src="../static/js/gallery.js"></script>