<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>OSCAL-header</title>
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

</head>

<body class="en">
    <div id="Header" th:fragment="myHeader">
        <link rel='stylesheet' type='text/css' href='../static/css/head&foot.css'>
        <link rel='stylesheet' type='text/css' href="../static/lib/bootstrap-4.6.0-dist/css/bootstrap.min.css">
        <link rel="icon" href="../static/public/favicon.ico" mce_href="../static/public/favicon.ico"
            type="image/x-icon">
        <div class="header_main">
            <div class="menu_box">
                <div class="pc-header">
                    <div class="logo">
                        <a href="./index.html" target="_parent">
                            <img src="../static/img/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a class="menu_href mhref" onclick="switchProduct('Phones')" href="#">Phones</a></li>
                            <li><a class="menu_href mhref" onclick="switchProduct('Tablets')" href="#">Tablets</a></li>
                            <li><a class="mhref" href="./brand.html">Brand</a></li>
                            <li><a class="mhref" href="./news.html">News</a></li>
                            <li><a class="mhref" href="./support.html">Support</a></li>
                            <li><a class="mhref" href="./community.html">Community</a></li>
                            <li><a href="./contact_us.html">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="login">
                        <div class="loginIcon">
                            <ul>
                                <li class="searchIcon">
                                    <div class="searchIconBox">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path
                                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                        </svg>
                                    </div>
                                    <div class="searchInputBox input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text" id="btnGroupAddon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                    fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                    <path
                                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                                </svg>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control searchInput"
                                            aria-label="Input group example" aria-describedby="btnGroupAddon">
                                    </div>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                                            <path
                                                d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                            <path
                                                d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                        </svg>
                                        <span class="usersInfo">2</span>
                                    </a>
                                </li>
                                <li class="loginSvg">
                                    <a target="_self">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi logined bi-person-fill" viewBox="0 0 16 16">
                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                            fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                            <path
                                                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                        </svg>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item menu-login" href="./login.html">Log in</a>
                                        <a class="dropdown-item menu-sign">Sign up</a>
                                        <a class="dropdown-item menu-quit" href="#">Quit</a>
                                      </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="app-header">
                    <div class="logo">
                        <a href="/" target="_parent">
                            <img src="/img/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="menu-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="menu">
                        <ul>
                            <li class="has-child">
                                <a id="menu_href" href="#">Phones</a>
                                <div class="plus-icon">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="app-nav-content">
                                    <div class="show-box">
                                        <div class="rg-content">
                                            <div class="content-box">
                                                <ul class="rg-box area-box">
                                                    <li class="box-lv1 item-box">
                                                        <a href="#" target="_blank">
                                                            <div class="img-box">
                                                                <img class="item-img lazyload"
                                                                    data-src="/img/pho/menu_c20_pho1.jpg" alt="Oscal">
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="box-lv3 item-box">
                                                        <a href="#" target="_blank">
                                                            <div class="img-box">
                                                                <img class="item-img lazyload"
                                                                    data-src="/img/pho/pho_c20.png" alt="oscal">
                                                            </div>
                                                            <p class="item-title">OSCAL C80</p>
                                                        </a>
                                                    </li>
                                                    <li class="box-lv3 item-box">
                                                        <a href="#" target="_blank">
                                                            <div class="img-box">
                                                                <img class="item-img lazyload"
                                                                    data-src="/img/pho/pho_c20.png" alt="oscal">
                                                            </div>
                                                            <p class="item-title">OSCAL C80</p>
                                                        </a>
                                                    </li>
                                                    <li class="box-lv3 item-box">
                                                        <a href="#" target="_blank">
                                                            <div class="img-box">
                                                                <img class="item-img lazyload"
                                                                    data-src="/img/pho/pho_c20.png" alt="oscal">
                                                            </div>
                                                            <p class="item-title">OSCAL C80</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lf-menu">
                                            <ul class="main-menu">
                                                <li><a href="./products.html" target="_self">All Phones</a></li>
                                                <li class="child-menu"><a href="#" target="_self">S Series</a></li>
                                                <li class="child-menu"><a href="#" target="_self">C Series</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="has-child">
                                <a id="menu_href" href="#">Tablets</a>
                                <div class="plus-icon">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="app-nav-content">
                                    <div class="show-box">
                                        <div class="rg-content">
                                            <div class="content-box">
                                                <ul class="rg-box area-box">
                                                    <li class="box-lv1 item-box">
                                                        <a href="#" target="_blank">
                                                            <div class="img-box">
                                                                <img class="item-img lazyload"
                                                                    data-src="../static/img/pho/menu_tab9.jpg"
                                                                    alt="Oscal">
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="box-lv3 item-box">
                                                        <a href="#" target="_blank">
                                                            <div class="img-box">
                                                                <img class="item-img lazyload"
                                                                    data-src="../static/img/pho/pho_tab9.png"
                                                                    alt="oscal">
                                                            </div>
                                                            <p class="item-title">OSCAL C80</p>
                                                        </a>
                                                    </li>
                                                    <li class="box-lv3 item-box">
                                                        <a href="#" target="_blank">
                                                            <div class="img-box">
                                                                <img class="item-img lazyload"
                                                                    data-src="../static/img/pho/pho_tab9.png"
                                                                    alt="oscal">
                                                            </div>
                                                            <p class="item-title">OSCAL C80</p>
                                                        </a>
                                                    </li>
                                                    <li class="box-lv3 item-box">
                                                        <a href="#" target="_blank">
                                                            <div class="img-box">
                                                                <img class="item-img lazyload"
                                                                    data-src="../static/img/pho/pho_tab9.png"
                                                                    alt="oscal">
                                                            </div>
                                                            <p class="item-title">OSCAL C80</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lf-menu">
                                            <ul class="main-menu">
                                                <li><a href="./products.html" target="_self">All Phones</a></li>
                                                <!-- <li class="child-menu"><a href="#" target="_self">S Series</a></li>
                                                <li class="child-menu"><a href="#" target="_self">C Series</a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="./brand.html">Brand</a></li>
                            <li><a href="./news.html">News</a></li>
                            <li><a href="./support.html">Support</a></li>
                            <li><a href="./community.html">Community</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-content">
            <div class="menu_lab">
                <!-- <div class="on" onclick="switchProduct('Laptop')">
                    <span>
                        Laptop
                    </span>
                </div>
                <div onclick="switchProduct('Accessories')">
                    <span>
                        Accessories
                    </span>
                </div> -->
            </div>
            <div class="content" id="ProductsMenuContent" th:include="ProductsMenu :: myProductsMenu">
            </div>
        </div>
        <script src="../static/lib/js/jquery-3.3.1.min.js"></script>
        <script src="../static/js/header.js"></script>
        <script async src="../static/lib/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
        <script async
            src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
    </div>

</body>

</html>