<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>OSCAL-header</title>
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

</head>

<body class="en">
    <div id="Header" th:fragment="myHeader">
        <link rel='stylesheet' type='text/css' href='../static/css/head&foot.css'>
        <link rel="icon" href="../static/public/favicon.ico" mce_href="../static/public/favicon.ico"
            type="image/x-icon">
        <div class="header_main">
            <div class="menu_box">
                <div class="pc-header">
                    <div class="logo">
                        <a href="./index.html" target="_parent">
                            <img src="../static/img/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a class="menu_href mhref" onclick="switchProduct('Phones')" href="#">Phones</a></li>
                            <li><a class="menu_href mhref" onclick="switchProduct('Laptops')" href="#">Laptops</a></li>
                            <li><a class="menu_href mhref" onclick="switchProduct('Tablets')" href="#">Tablets</a></li>
                            <li><a class="menu_href mhref" onclick="switchProduct('Accessories')"
                                    href="#">Accessories</a></li>
                            <li><a class="mhref" href="./brand.html">Brand</a></li>
                            <li><a class="mhref" href="./news.html">News</a></li>
                            <li><a class="mhref" href="./support.html">Support</a></li>
                            <!-- <li><a class="mhref" href="./community.html">Community</a></li> -->
                            <!-- <li><a href="#">OSCAL Store</a></li> -->
                            <li><a href="./contact_us.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="app-header">
                    <div class="logo">
                        <a href="/" target="_parent">
                            <img src="/img/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="menu-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="menu">
                        <ul>
                            <li class="has-child">
                                <a id="menu_href" href="#">Phones</a>
                                <div class="plus-icon">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="app-nav-content">
                                    <div class="show-box">
                                        <div class="rg-content">
                                            <div class="content-box">
                                                <ul class="rg-box area-box">
                                                    <li class="box-lv1 item-box">
                                                        <a href="#" target="_blank">
                                                            <div class="img-box">
                                                                <img class="item-img lazyload"
                                                                    data-src="/img/pho/menu_c20_pho1.jpg"
                                                                    alt="Oscal">
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="box-lv3 item-box">
                                                        <a href="#" target="_blank">
                                                            <div class="img-box">
                                                                <img class="item-img lazyload"
                                                                    data-src="/img/pho/pho_c20.png"
                                                                    alt="oscal">
                                                            </div>
                                                            <p class="item-title">OSCAL C80</p>
                                                        </a>
                                                    </li>
                                                    <li class="box-lv3 item-box">
                                                        <a href="#" target="_blank">
                                                            <div class="img-box">
                                                                <img class="item-img lazyload"
                                                                    data-src="/img/pho/pho_c20.png"
                                                                    alt="oscal">
                                                            </div>
                                                            <p class="item-title">OSCAL C80</p>
                                                        </a>
                                                    </li>
                                                    <li class="box-lv3 item-box">
                                                        <a href="#" target="_blank">
                                                            <div class="img-box">
                                                                <img class="item-img lazyload"
                                                                    data-src="/img/pho/pho_c20.png"
                                                                    alt="oscal">
                                                            </div>
                                                            <p class="item-title">OSCAL C80</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lf-menu">
                                            <ul class="main-menu">
                                                <li><a href="./products.html" target="_self">All Phones</a></li>
                                                <li class="child-menu"><a href="#" target="_self">S Series</a></li>
                                                <li class="child-menu"><a href="#" target="_self">C Series</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="has-child">
                                <a id="menu_href" href="#">Tablets</a>
                                <div class="plus-icon">
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="app-nav-content">
                                    <div class="show-box">
                                        <div class="rg-content">
                                            <div class="content-box">
                                                <ul class="rg-box area-box">
                                                    <li class="box-lv1 item-box">
                                                        <a href="#" target="_blank">
                                                            <div class="img-box">
                                                                <img class="item-img lazyload"
                                                                    data-src="../static/img/pho/menu_tab9.jpg"
                                                                    alt="Oscal">
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="box-lv3 item-box">
                                                        <a href="#" target="_blank">
                                                            <div class="img-box">
                                                                <img class="item-img lazyload"
                                                                    data-src="../static/img/pho/pho_tab9.png"
                                                                    alt="oscal">
                                                            </div>
                                                            <p class="item-title">OSCAL C80</p>
                                                        </a>
                                                    </li>
                                                    <li class="box-lv3 item-box">
                                                        <a href="#" target="_blank">
                                                            <div class="img-box">
                                                                <img class="item-img lazyload"
                                                                    data-src="../static/img/pho/pho_tab9.png"
                                                                    alt="oscal">
                                                            </div>
                                                            <p class="item-title">OSCAL C80</p>
                                                        </a>
                                                    </li>
                                                    <li class="box-lv3 item-box">
                                                        <a href="#" target="_blank">
                                                            <div class="img-box">
                                                                <img class="item-img lazyload"
                                                                    data-src="../static/img/pho/pho_tab9.png"
                                                                    alt="oscal">
                                                            </div>
                                                            <p class="item-title">OSCAL C80</p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="lf-menu">
                                            <ul class="main-menu">
                                                <li><a href="./products.html" target="_self">All Phones</a></li>
                                                <!-- <li class="child-menu"><a href="#" target="_self">S Series</a></li>
                                                <li class="child-menu"><a href="#" target="_self">C Series</a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="./brand.html">Brand</a></li>
                            <li><a href="./news.html">News</a></li>
                            <li><a href="./support.html">Support</a></li>
                            <!-- <li><a href="#">Community</a></li> -->
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-content">
            <div class="menu_lab">
                <!-- <div class="on" onclick="switchProduct('Laptop')">
                    <span>
                        Laptop
                    </span>
                </div>
                <div onclick="switchProduct('Accessories')">
                    <span>
                        Accessories
                    </span>
                </div> -->
            </div>
            <div class="content">
                <div class="close-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                        class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </div>
                <div class="show-box">
                </div>
            </div>
        </div>
        <script src="../static/lib/js/jquery-3.3.1.min.js"></script>
        <script src="../static/js/header.js"></script>
        <script async
            src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
    </div>

</body>

</html>