<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="Description" content="Wireless Headphones Without Compromise For Better Workouts">
    <title>OSCAL</title>
    <link rel='stylesheet' type='text/css' href='../static/css/news.css'>
    <link rel='stylesheet' type='text/css' href='../static/css/public.css'>
    <link rel='stylesheet' type='text/css' href="../static/lib/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="../static/lib/js/jquery-3.3.1.min.js"></script>
    <script async
        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
</head>

<body class="en">
    <div id="header" th:include="header :: myHeader">
        <!-- <div class="head_svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-menu-button-wide" viewBox="0 0 16 16">
                <path
                    d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-13z" />
                <path
                    d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
            </svg>
        </div> -->

    </div>
    <div id="AMain" class="main">
        <div class="mainContent">
            <div class="newsBox">
                <div class="newsCon">
                    <p class="time_line">
                        May 2021
                    </p>
                    <ul>
                        <li>
                            <a href="./news/20210519.html" target="_blank">
                                <div class="content">
                                    <div class="left">
                                        <img class="big-img lazyload" data-src="../static/img/news_20210514.jpg"
                                            alt="oscal">
                                    </div>
                                    <div class="right">
                                        <div class="other">
                                            <p>News</p>
                                        </div>
                                        <p class="time">
                                            May 19,2021
                                        </p>
                                        <p class="tit" title="Blackview kicks off a wider global expansion by launching a new OSCAL brand">
                                            Blackview kicks off a wider global expansion by launching a new OSCAL brand
                                        </p>
                                        <p class="msg">
                                            In a bigger step toward becoming a major global player, the world-known
                                            rugged phone brand Blackview has announced its new brand, OSCAL, to the
                                            world today. At the same time, the OSCAL official website is live where the
                                            product shelf has presented the first product - OSCAL C20 smartphone.
                                        </p>
                                        <div class="more">
                                            <p>Read More</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="./newsContent.html" target="_blank">
                                <div class="content">
                                    <div class="left">
                                        <img class="big-img lazyload" data-src="../static/img/news_20210513.jpg"
                                            alt="oscal">
                                    </div>
                                    <div class="right">
                                        <div class="other">
                                            <p>News</p>
                                        </div>
                                        <p class="time">
                                            May 17,2021
                                        </p>
                                        <p class="tit" title=" OSCAL Tab 9 hits the market with 7480mAh battery and Doke OS_P 1.0 at $149.99 ($50 off)">
                                            OSCAL Tab 9 hits the market with 7480mAh battery and Doke OS_P 1.0 at
                                            $149.99 ($50 off)
                                        </p>
                                        <p class="msg">
                                            OSCAL is now looking to push the boundaries of affordable smart devices.Its
                                            new budget tablet Tab 9 has been hitting the market since early May.
                                        </p>
                                        <div class="more">
                                            <p>Read More</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="newsCon">
                    <p class="time_line">
                        APRIL 2021
                    </p>
                    <ul>
                        <li>
                            <a href="./news/20210413.html" target="_blank">
                                <div class="content">
                                    <div class="left">
                                        <img class="big-img lazyload" data-src="../static/img/news_20210413.jpg"
                                            alt="oscal">
                                    </div>
                                    <div class="right">
                                        <div class="other">
                                            <p>News</p>
                                        </div>
                                        <p class="time">
                                            April 13,2021
                                        </p>
                                        <p class="tit" title="OSCAL Brand Launch: Let More People Enjoy the Smart Life">
                                            OSCAL Brand Launch: Let More People Enjoy the Smart Life
                                        </p>
                                        <p class="msg">
                                            Today, OSCAL brand has officially announced its launch.<br>
                                            OSCAL is a technology brand that focuses on product performance, design,
                                            quality, and service. Driven by the innovation DNA, we will always adhere to
                                            our concept of “Only the Brave” and be committed to letting everyone enjoy
                                            smart devices with leap-forward performance and trendsetting design at a
                                            very friendly price.
                                        </p>
                                        <div class="more">
                                            <p>Read More</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="newsCon">
                    <p class="time_line">
                        MARCH 2021
                    </p>
                    <ul>
                        <li>
                            <a href="./news/20210314.html" target="_blank">
                                <div class="content">
                                    <div class="left">
                                        <img class="big-img lazyload" data-src="../static/img/news_img_20210314.jpg"
                                            alt="oscal">
                                    </div>
                                    <div class="right">
                                        <div class="other">
                                            <p>News</p>
                                        </div>
                                        <p class="time">
                                            March 14,2021
                                        </p>
                                        <p class="tit" title="   Blackview Confirms New Sub-brand OSCAL; OSCAL C20 Smartphone to Launch Soon">
                                            Blackview Confirms New Sub-brand OSCAL;
                                            OSCAL C20 Smartphone to Launch Soon
                                        </p>
                                        <p class="msg">
                                            It is common to see famous phones brands roll out a sub-brand to cover more
                                            users, expand market share and improve their competitiveness. For example,
                                            Xiaomi had the Redmi sub-brand and Huawei launched the Honor sub-brand. And
                                            recently, the well-known outdoor rugged phone brand Blackview has also
                                            announced that it will soon internationally establish a sub-brand called
                                            OSCAL.
                                        </p>
                                        <div class="more">
                                            <p>Read More</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="newsPagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item page-item-current prev disabled">
                            <a class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                </svg></i></a>
                        </li>
                        <li class="page-item index active"><a class="page-link">1</a></li>
                        <!-- <li class="page-item index"><a class="page-link">2</a></li> -->
                        <!-- <li class="page-item index"><a class="page-link">3</a></li>
                        <li class="page-item index"><a class="page-link">4</a></li>
                        <li class="page-item index"><a class="page-link">5</a></li>
                        <li class="page-item index"><a class="page-link">6</a></li>
                        <li class="page-item index"><a class="page-link">7</a></li> -->
                        <li class="page-item page-item-current next">
                            <a class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                </svg></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="go-top">
            <span class="top-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-chevron-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                </svg>
            </span>
        </div>
    </div>
    <div id="footer" th:include="footer :: myFooter">
    </div>
</body>

</html>
<script async src="../static/lib/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script src="../static/js/news.js"></script>
<script src="../static/js/public.js"></script>