<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="Description" content="Wireless Headphones Without Compromise For Better Workouts">
    <title>OSCAL</title>
    <link rel='stylesheet' type='text/css' href='../static/css/news.css'>
    <link rel='stylesheet' type='text/css' href='../static/css/public.css'>
    <link rel='stylesheet' type='text/css' href="../static/lib/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <script src="../static/lib/js/jquery-3.3.1.min.js"></script>
    <script async
        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
</head>

<body class="en">
    <div id="header" th:include="header :: myHeader">
    </div>
    <div id="AMain" class="main">
        <div class="mainContent">
            <img class="big-img lazyload" src="../static/img/OSCAL-newsContent-bg.jpg" alt="oscal">
            <div class="newsContentBox">
                <div class="word">
                    <p class="time">
                        May 17,2021
                    </p>
                    <p class="title">
                        OSCAL Tab 9 hits the market with 7480mAh battery and Doke OS_P 1.0 at $149.99 ($50 off)
                    </p>
                    <img class="big-img lazyload" data-src="../static/img/news-img/20210517/1.png" alt="oscal">
                    <p class="msg">
                        OSCAL is now looking to push the boundaries of affordable smart devices.Its new budget tablet Tab 9 has been hitting the market since early May.
                    </p>
                    <p class="msg">
                        Tablet market has shown growth in recent years. According to UNESCO，as of May 2021, schools in 26 countries were closed country-wide, and schools were only partially open in 55 countries.To some extent, this leads to increasing demands for tablets.
                    </p>
                    <p class="msg">
                        Tab 9 comes to meet these demands with an affordable price. It is just $149.99 from May 12th to May 20th PST, $50 off the usual $199.99 price tag.
                    </p>
                    <p class="msg">
                        So what about the Tab 9? Is it an ideal choice ? Here are some of its main features.
                    </p>
                    <img class="big-img lazyload" data-src="../static/img/news-img/20210517/2.jpg" alt="oscal">

                    <p class="msg" style="font-weight: bold;">
                        7480mAh battery & 8.8 slim body
                    </p>
                    <p class="msg">
                        With a 7480mAh high-capacity battery, Tab 9 aims to deliver a long-lasting experience. According to the experimental data, Tab 9 easily supports 6 hours of video, 38 hours of music and 840 hours of standby time.
                    </p>
                    <p class="msg">
                        Furthermore, Tab 9 features an 8.8mm slim body, which combines stylish appearance with comfort for hands. 
                    </p>

                    <p class="msg" style="font-weight: bold;">
                        10.1"screen & keyboard attachment support
                    </p>
                    <p class="msg">
                        Tab 9, to bring more clarity, features a 10.1 inch FHD+display. Its 1920*1200 resolution supports high color saturation and shows clearer details. It is pleasing to the eye and helpful for those who are always on the go and need a large screen to learn and share information with others.
                    </p>
                    <p class="msg">
                        Furthermore, with the narrow bezel bringing more screen space, Tab 9 allows you to put more focus on what you are watching. And you can transform your Tab 9 into a PC-like experience by connecting the keyboard.
                    </p>
                    
                    <p class="msg" style="font-weight: bold;">
                        Spreadtrum T610 octa-core processor & 64GB ROM
                    </p>
                    <p class="msg">
                        Tab 9 is powered by Spreadtrum T610 octa-core chipset, which is responsive to take on whatever tasks thrown its way, be it the running of light music apps or demanding game apps. Besides, 64GB of ROM and 128GB expandable storage allows for storing movies and photos without worrying about being limited by storage space.
                    </p>
                    
                    <p class="msg" style="font-weight: bold;">
                        Self-developed Doke OS_P 1.0
                    </p>
                    <p class="msg">
                        To be pleasing to the eye and convenient to use, Tab 9 runs the self-developed Doke_P 1.0 OS.
                    </p>
                    <p class="msg">
                        Thanks to this new operating system, you can get a clean and clear interface resulting from exquisite app icons and gaussian blur. 
                    </p>
                    <p class="msg">
                        Besides, the system manager, an all-in-one solution, allows for smarter control over trash cleaning, battery performance, gaming boosting, and how apps run in the background. 
                    </p>
                    <p class="msg">
                        Doke_P 1.0 OS also supports customized color & temperature，which opens up more ways for you to personalize your device.
                    </p>
                                        
                    <p class="msg" style="font-weight: bold;">
                        Dual 4G SIM
                    </p>
                    <p class="msg">
                        4G LTE connectivity lets you browse your favorite websites and streaming platforms smoothly. Moreover, for students who don't have a reliable Wi-Fi network at home, taking classes online can be a heavy challenge. In such a situation, Tab 9 is very helpful.
                    </p>
                    <p class="msg">
                        If you have been holding off on buying a tablet, hoping for a more affordable price, do not miss this discount. It is available at the official store, Amazon.De, AliExpress, Cdiscount and eBay. At Amazon.De，when you reach the payment section, please enter the promotional code W4N5OUQO, which is valid from 11:00 am 18th May to 31st May (local time).
                    </p>
                    <p class="msg">
                        OSCAL is a new brand from Blackview. According to the information released, Blakeview has entered the top ten in the mobile phone market in more than 10 countries and regions since its establishment in 2013. 
                    </p>
                    <p class="msg">
                        OSCAL is committed to letting everyone enjoy smart devices with leap-forward performance and trendsetting design at a very friendly price. OSCAL product lines cover mainstream smartphones, rugged outdoor phones, tablets and earphones. Based on Blackview's technical strength, OSCAL is expected to deliver more competitive products in the future.
                    </p>
                </div>

            </div>
            <div class="relatedNews">
                <p class="title">RELATED NEWS</p>
                <ul>
                    <li>
                        <a href="./news/20210413.html" target="_self">
                            <div class="box">
                                <div class="top">
                                    <img class="big-img lazyload" src="../static/img/news_20210413.jpg" alt="oscal">
                                </div>
                                <div class="bottom">
                                    <div class="relatedNews_tit">
                                        <p class="other_news">News</p>
                                        <p class="time">April 13,2021</p>
                                    </div>
                                    <p class="tit">
                                        OSCAL Brand Launch: Let More People Enjoy the Smart Life
                                    </p>
                                    <p class="msg">
                                        Today, OSCAL brand has officially announced its launch.<br>

                                        OSCAL is a technology brand that focuses on product performance, design,
                                        quality, and service. Driven by the innovation DNA, we will always adhere to
                                        our concept of “Only the Brave” and be committed to letting everyone enjoy
                                        smart devices with leap-forward performance and trendsetting design at a
                                        very friendly price.

                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="./news/20210519.html" target="_self">
                            <div class="box">
                                <div class="top">
                                    <img class="big-img lazyload" src="../static/img/news_20210514.jpg" alt="oscal">
                                </div>
                                <div class="bottom">
                                    <div class="relatedNews_tit">
                                        <p class="other_news">News</p>
                                        <p class="time">May 19,2021</p>
                                    </div>
                                    <p class="tit">
                                        Blackview kicks off a wider global expansion by launching a new OSCAL brand
                                    </p>
                                    <p class="msg">
                                        In a bigger step toward becoming a major global player, the world-known rugged
                                        phone brand Blackview has announced its new brand, OSCAL, to the world today. At
                                        the same time, the OSCAL official website is live where the product shelf has
                                        presented the first product - OSCAL C20 smartphone.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="./news/20210314.html" target="_self">
                            <div class="box">
                                <div class="top">
                                    <img class="big-img lazyload" src="../static/img/news_img_20210314.jpg" alt="oscal">
                                </div>
                                <div class="bottom">
                                    <div class="relatedNews_tit">
                                        <p class="other_news">News</p>
                                        <p class="time">March 14,2021</p>
                                    </div>
                                    <p class="tit">
                                        Blackview Confirms New Sub-brand OSCAL;
                                        OSCAL C20 Smartphone to Launch Soon
                                    </p>
                                    <p class="msg">
                                        It is common to see famous phones brands roll out a sub-brand to cover more
                                        users, expand market share and improve their competitiveness. For example,
                                        Xiaomi had the Redmi sub-brand and Huawei launched the Honor sub-brand. And
                                        recently, the well-known outdoor rugged phone brand Blackview has also
                                        announced that it will soon internationally establish a sub-brand called
                                        OSCAL.
                                    </p>
                                    <p class="msg">
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="go-top">
            <span class="top-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-chevron-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                </svg>
            </span>
        </div>
    </div>
    <div id="footer" th:include="footer :: myFooter">
    </div>
</body>

</html>
<script async src="../static/lib/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script src="../static/js/news.js"></script>
<script src="../static/js/public.js"></script>