<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>OSCAL</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel='stylesheet' type='text/css' href='../static/css/public.css'>

    <script src="lib/js/jquery-3.3.1.min.js"></script>
    <script async
        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
</head>

<body class="en">
    <div id="header" th:include="header :: myHeader">
        <!-- <div class="head_svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-menu-button-wide" viewBox="0 0 16 16">
                <path
                    d="M0 1.5A1.5 1.5 0 0 1 1.5 0h13A1.5 1.5 0 0 1 16 1.5v2A1.5 1.5 0 0 1 14.5 5h-13A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-13z" />
                <path
                    d="M2 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm10.823.323-.396-.396A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
            </svg>
        </div> -->

    </div>
    <div id="AMain" class="main">
        <div class="pagesServer">
            <h5>
                Privacy and Personal Data Protection Policy
            </h5>
            <p class="data">
                Last updated: April 16, 2021
            </p>
            <p class="msg">
                Dear customer,
            </p>
            <div class="content-list">
                <p class="msg">
                    Thank you for using the products and services provided by OSCAL and its global affiliates
                    (hereinafter
                    referred to as "OSCAL" or "we", "us", or "our"). To ensure that you can be updated with and reserve
                    control over your privacy and personal information, please carefully read the Privacy and Personal
                    Data
                    Protection Policy (hereinafter referred to as this "Policy").
                </p>
                <p class="msg">
                    This policy describes your data subject rights and how we process your personal data. This policy
                    applies to all products and services provided by OSCAL, unless otherwise stipulated in specific
                    privacy
                    policy or statement. The products and services mentioned in this Policy may vary depending on your
                    software version, device model, or location. For details about the data collection for specific
                    products
                    or services, refer to the corresponding agreements, policies, or statements.
                </p>
                <p class="msg">
                    We take your privacy seriously and are committed to protecting your private information and life
                    against
                    unauthorized access or intrusion. We will process your personal data under the principles of
                    lawfulness
                    and fairness, and the minimum necessary standard. We will take appropriate security measures to
                    protect
                    your personal data according to established industry security standards, in addition to applicable
                    legal
                    or regulatory requirements.
                </p>
                <p class="msg">
                    This Policy describes:
                </p>
                <p class="msg">1. What Data Do We Collect About You</p>
                <p class="msg">2. Why We Process Your Personal Data</p>
                <p class="msg">3. How We Share, Transfer, or Disclose Your Personal Data</p>
                <p class="msg">4. How We Control Your Personal Data Independently or Jointly with Third Parties</p>
                <p class="msg">5. How You Control Your Personal Data</p>
                <p class="msg">6. How We Protect Your Personal Data</p>
                <p class="msg"> 7. Protection of Minors</p>
                <p class="msg">8. How We Manage Cookies and Similar Technologies</p>
                <p class="msg">9. How We Store Your Personal Data</p>
                <p class="msg">10. Contact Us</p>
                <p class="msg">11. How We Update this Policy</p>
            </div>
            <div class="content-list">
                <p class="title">
                    1. What Data Do We Collect About You
                </p>
                <p class="msg">
                    Personal data refers to a variety of information recorded electronically or otherwise that can be
                    used alone or in combination with other information to identify a particular natural person, expect
                    otherwise defined in specific laws or regulations in your country/region. Personal data typically
                    includes but is not limited to your name, date of birth, ID number, biometric information, address,
                    and phone number. We will describe what data we will process under different circumstances:
                </p>
                <p class="msg">(1) Personal data you provide to us
                    You are required to provide your name, gender, email address, and phone number, when you register an
                    account for OSCAL products or services.</p>
                <p class="msg">(2) Personal data obtained by us when providing services to you
                    We will collect your device information, and how you and your device interact with OCSAL products
                    and services, including:</p>
                <p class="msg">(a) Device and app information, such as device name, device identifier, device activation
                    time, hardware model, hardware system version, app version, software identifier, and device and app
                    settings (such as region, language, time zone, and font)</p>
                <p class="msg">(b) Mobile network information, such as the public land mobile network (PLMN) provider
                    ID, geographical location (cell ID of the area where the device is located), and Internet protocol
                    (IP) address</p>
                <p class="msg">(c) Log information. When you use our services or view content provided by us, we will
                    automatically collect certain information and record it in logs, such as the time of access, access
                    count, IP address accessed, and event information (such as error, crash, restart, and upgrade).</p>
                <p class="msg">(d) Location information (applicable only to specific functions). When you access certain
                    location-based services (such as the search, navigation, or weather query service), we will collect,
                    use, and process your device's approximate or precise location information, which is obtained using
                    GPS, GLONASS,GALILEO and BEIDOU, Wi-Fi hotspot, and service provider's network ID. You can revoke
                    the corresponding permission from the system settings on your device to reject sharing your location
                    information.</p>
            </div>
            <div class="content-list">
                <p class="title">
                    2. Why We Process Your Personal Data
                </p>
                <p class="msg">We will process your personal data only for clear, explicit, and specific purposes. If
                    personal data collected is not used for purposes directly or reasonably associated with the explicit
                    purpose described in this Policy, we will ask for your consent separately.</p>
                <p class="msg">Your personal data will be used for us to:</p>
                <p class="msg">(1) Enter into a contract with you or provide you with products or services.</p>
                <p class="msg">Help you register and activate your OSCAL products for personal and home use, and hand
                    your queries and requests.</p>
                <p class="msg">(2) Provide you with a better service experience, invite you to participate in online and
                    offline activities, or collect your requirements for products.</p>
                <p class="msg">Provide you with personalized user experience and content, and invite you to participate
                    in promotional activities.</p>
                <p class="msg">(3) Push related messages and important notifications to you.</p>
                <p class="msg">Send you information about products and services that you may be interested in, and
                    notifications about OS or application updates and installations.</p>
                <p class="msg">(4) Protect the security of our products and services</p>
                <p class="msg">Guarantee security, carry out and improve our loss prevention and anti-fraud plans.</p>
                <p class="msg">(5) Act for other lawful and practical purposes with your consent.</p>
            </div>
            <div class="content-list">
                <p class="title">
                    3. How We Share, Transfer, or Disclose Your Personal Data
                </p>
                <p class="msg">(1) We need to share your personal data with third-party service providers or our
                    affiliates when using their services in certain scenarios, for example, when they are providing
                    technical support for OSCAL products, contacting you on behalf of us, or handling your requirements.
                    We will reasonably review the personal data protection capabilities of the data recipients and
                    require them to take adequate organizational or technical measures to protect your privacy and
                    personal data.</p>
                <p class="msg">(2) We will transfer your personal data to a third party only with your explicit consent.
                    In the event of acquisition, merger, reorganization, or bankruptcy involving personal data transfer,
                    we will inform you of the changes and require the data recipients to be subject to this Policy.</p>
                <p class="msg">(3) We may also disclose your personal data with your explicit consent or for legal or
                    legitimate reasons, such as when required by the regulatory authority.</p>
                <p class="msg">(4) We may also share, transfer, or disclose your data in other legally applicable
                    scenarios or otherwise authorized by you.</p>
            </div>
            <div class="content-list">
                <p class="title">
                    4. How We Control Your Personal Data Independently or Jointly with Third Parties
                </p>
                <p class="msg">When your personal data is under the control of us and third parties, we will work with
                    the third party to determine the security requirements for personal data, as well as our respective
                    responsibilities and obligations, and update you accordingly. For example, when you purchase
                    products released by developers in OSCAL Store, we will share necessary information with developers
                    to complete the transaction.</p>
                <p class="msg">When your personal data is under the sole control of a third party, please carefully read
                    its third-party privacy and personal data protection policies and determine whether to accept the
                    services. For example, links in OSCAL products and services may redirect you to third-party
                    websites, products, and services, which are provided for your convenience only. We cannot control
                    the privacy and data protection policies of third parties who, therefore, are not subject to this
                    Policy.</p>
                <p class="msg">Your personal data may be shared with our affiliates in compliance with laws and
                    regulations, and this Policy.</p>
                <p class="msg">In addition, we will share your personal data with third parties to the extent permitted
                    by law or with your consent.</p>
            </div>
            <div class="content-list">
                <p class="title">
                    5. How You Control Your Personal Data
                </p>
                <p class="msg">(1) You reserve the right to access, correct, and delete your personal data in accordance
                    with applicable laws. We will help you secure these rights through specific ways. To protect your
                    privacy and personal data security, we will verify your identity and provide feedback to you to the
                    extent permitted by law. We may reject unreasonable requests, such as repeated or unrealistic
                    requests, or requests that may infringe upon others' rights or interests.</p>
                <p class="msg">(2) You may at any time: Withdraw your consent. We will then stop collecting your
                    personal data, but this will not affect the data processing before you withdraw your consent.</p>
                <p class="msg">(3) You can delete your OSCAL ID linked with your OSCAL products and services at any
                    time. After your OSCAL ID is deleted, we will stop providing related products and services. Your
                    relevant personal data will be deleted or anonymized unless otherwise specified by laws. </p>
            </div>
            <div class="content-list">
                <p class="title">
                    6. How We Protect Your Personal Data
                </p>
                <p class="msg">We take your personal data and privacy seriously, and are committed to protecting your
                    privacy and personal data in accordance with established industry security standards. For this
                    purpose, we take the following measures:</p>
                <p class="msg">(1) We take all reasonable and feasible measures to ensure that the personal data
                    collected is minimal and relevant to what is necessary in relation to the purposes for which they
                    are processed. We will retain your personal data for the minimum period required to fulfill the
                    purposes described in this Statement, unless the retention period is extended as necessary or
                    permitted by law.</p>
                <p class="msg">(2) We will use encryption technology to ensure the confidentiality of data transmission
                    and storage. We will use a trusted protection mechanism to protect data and data storage servers
                    against malicious attacks.</p>
                <p class="msg">(3) We will deploy an access control mechanism to ensure that only authorized personnel
                    can access personal data. In addition, we will control the number of authorized personnel according
                    to the business needs and personnel levels, and manage their access permissions in a hierarchical
                    way. All access to personal data is recorded in logs and periodically audited by the administrator.
                </p>
                <p class="msg">(4) We strictly select business partners and service providers and incorporate personal
                    data protection requirements into commercial contracts, audits, and appraisal activities.</p>
                <p class="msg">(5) We will organize security and privacy protection training courses, tests, and
                    publicity activities to enhance employees' awareness of the importance of protecting personal data.
                </p>
                <p class="msg">In a word, we are highly committed to protecting your privacy and personal data. In spite
                    of this, no security measures are completely infallible, and no products and services, websites,
                    data transmission, computer systems, or network connections are absolutely secure.</p>
                <p class="msg">If any personal data security incidents occur, we will notify you, pursuant to relevant
                    legal and regulatory requirements, of the basic information about the security incident and its
                    possible impact, measures that we have taken or will take, suggestions about active defense and risk
                    mitigation, and remedial measures. The notification may take the form of an email, text message,
                    push notification, etc. If it is difficult to notify data subjects one by one, we will take
                    appropriate and effective measures to release a Security Notice. In addition, we will also report
                    the handling status of personal data security incidents as required by supervisory authorities.</p>
            </div>
            <div class="content-list">
                <p class="title">
                    7. Protection of Minors
                </p>
                <p class="msg">Minors refer to natural persons under the age of 18 unless under this Policy, unless
                    otherwise stipulated by applicable laws. We will protect the privacy and personal data of minors in
                    strict compliance with laws and established practices in the industry. We will only process minors'
                    data by law and with the explicit consent from their legal guardians.</p>
                <p class="msg">If you find that we are not processing the personal data of minors according to the above
                    standards, please refer to the "Contact Us" section to notify us.</p>
            </div>
            <div class="content-list">
                <p class="title">
                    8. How We Manage Cookies and Similar Technologies
                </p>
                <p class="msg">Our websites, mobile apps, online services, emails, and advertisements may use local
                    storage technologies such as cookies, pixel tags, and website beacons.</p>
                <p class="msg">(1) Cookies<br>
                    A cookie is a text-only file stored on computers or mobile devices by network servers. The content
                    of a cookie can only be retrieved or read by the server that created it. Each cookie is unique to
                    your web browser or mobile application. Cookies usually contain identifiers, site names, and some
                    numbers and characters.</p>
                <p class="msg">Cookies are sometimes stored on computers or mobile devices to improve user experience,
                    including:</p>
                <p class="msg">(a) Login and verification: With cookies, you can be re-directed from one webpage to
                    another without re-logging on each page, when you log in to our websites with OSCAL ID.</p>
                <p class="msg">(b) Storing your preferences and settings: With cookies, our websites are able to save
                    settings, such as the language, font size, and other browsing preferences, and items in your
                    shopping cart on your computers or mobile devices.</p>
                <p class="msg">(c) Interest-based advertising: With cookies, we are able to collect information about
                    your online activities, discover your interests, and deliver to you the most relevant
                    advertisements.</p>
                <p class="msg">(d) Statistical Analysis: With cookies, we can collect information about your use of our
                    websites and other apps, either for a single visit (using a session cookie) or for repeated visits
                    (using a persistent cookie).</p>
                <p class="msg">We will not use cookies for any purposes not stated in this statement. You can manage or
                    delete cookies based on your preferences. You can clear all cookies stored on your computer, and
                    most web browsers can be configured to block cookies.</p>
                <p class="msg">However, if you do clear cookies, you will need to manually change your settings the next
                    time you visit our websites. In addition, blocking cookies may affect your use of all or some
                    features of certain services, which require the use of cookies to function properly.</p>
                <p class="msg">(2) Web Beacons and Pixel Tags<br>
                    In addition to cookies, we and some third parties may also use web beacons and pixel tags on
                    websites. A web beacon is usually an electronic graphic image embedded into a website or email to
                    identify your device cookies when you browse the website or email. Pixel tags allow us to send
                    emails in a way that is readable to you and find out whether an email is opened.</p>
                <p class="msg">We and some third parties use these technologies for various purposes, including
                    analyzing service usage (together with cookies) and providing more satisfactory content and
                    advertisements to you. For example, when you receive an email from OSCAL, it may contain a
                    click-through URL which links to an OSCAL web page. If you click the URL, we will track your visit
                    to understand your preferences for products and services and improve customer services. You can
                    unsubscribe from our mailing list at any time if you do not want to be tracked in this manner.</p>
                <p class="msg">(3) Other Local Storage<br>
                    We and some third parties may apply other local storage technologies, for example, local shared
                    object (also called "flash cookie") and HTML5 local storage, in certain products and services.
                    Similar to cookies, these technologies store information in your device and can record some
                    information about your activities and preferences. However, these technologies may use different
                    media from cookies. Therefore, you may not be able to control them using standard browser tools and
                    settings. For details about how to disable or delete information contained in Flash Cookies, click
                    <a href="https://www.adobe.com/products/flashplayer/end-of-life.html" target="_blank">here</a>.
                </p>
                <p class="msg">(4) Do Not Track<br>
                    Many web browsers provide the Do Not Track feature which can send Do Not Track requests to websites.
                    Currently, major Internet standardization organizations have not established policies to specify how
                    websites should deal with these requests.</p>
                <p class="msg">If you enable Do Not Track or other similar functions your browser may provide, we will
                    not change the way we collect and use your data as described in this Statement. However, we reserve
                    the right to respond to your Do Not Track request and stop the collection of your data without prior
                    notice to you.</p>
            </div>
            <div class="content-list">
                <p class="title">
                    9. How We Store Your Personal Data
                </p>
                <p class="msg">We will retain your personal data for no longer than is necessary for the purposes
                    defined in this Statement, and delete or anonymize your personal data after the retention period
                    expires.</p>
                <p class="msg">Your personal data may be transferred outside of your country or region, as our products
                    and services are provided by service providers worldwide. Although privacy and personal data
                    protection laws and practices vary between countries/regions, we will take corresponding measures to
                    provide the same level protection to your privacy and personal data, such as signing a data
                    protection agreement with the data recipient.</p>

            </div>
            <div class="content-list">
                <p class="title">
                    10. Contact Us
                </p>
                <p class="msg">We have a department (or specialists) dedicated to personal information protection. If
                    you have any questions, comments, or suggestions regarding your personal information, please <a href="https://www.oscal.hk/contact" target="_blank">contact
                    us</a>.</p>
                <p class="msg">We will reply as soon as possible. If you think that our data processing has infringed
                    upon your legal rights and interests, you have the right to file a complaint with or report to the
                    corresponding regulatory authority.</p>
            </div>
            <div class="content-list">
                <p class="title">
                    11. How We Update this Policy
                </p>
                <p class="msg">We will update or modify this Policy at our discretion. We will notify you of any changes
                    that may affect your rights and interests under this Policy by posting our notice at a prominent
                    position on the OSCAL official website or sending an email to you.</p>
            </div>
        </div>
        <div class="go-top">
            <span class="top-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-chevron-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                </svg>
            </span>
        </div>
    </div>
    <div id="footer" th:include="footer :: myFooter">
    </div>
</body>

</html>
<script src="js/public.js"></script>