<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>OSCAL</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel='stylesheet' type='text/css' href='../static/css/public.css'>
    <link rel='stylesheet' type='text/css' href='../static/css/productsdetail.css'>
    <link rel='stylesheet' type='text/css' href="../static/lib/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="../static/lib/css/swiper.min.css">
    <script src="../static/lib/js/jquery-3.3.1.min.js"></script>
    <script async
        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/lazysizes.min-20201204070627489.js"></script>
</head>

<body class="en">
    <div id="header" th:include="header :: myHeader">
    </div>
    <div id="AMain" class="main">
        <div class="productsMenuBox">
            <div class="productsMenuBox-bg">
                <div class="productsName">OSCAL-<span class="productsName-name">C20</span></div>
                <div class="products-rightBox">
                    <ul class="nav" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                role="tab" aria-controls="pills-home" aria-selected="true">OVERVIEW</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                role="tab" aria-controls="pills-profile" aria-selected="false">SPECS</a>
                        </li>
                    </ul>
                    <div class="products-buyBtn">
                        <a href="#" target="_blank">
                            <span>BUY NOW</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="productContent">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <link rel="stylesheet"
                        href="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/c20-20210805090055521.css">
                    <div class="c20">
                        <section class="c20-1">
                            <img class="big-img bv-pc"
                                src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20_c1-1.jpg" alt="">
                            <img class="big-img bv-phone"
                                src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c1-1-phone.png" alt="">
                            <div class="c20-1-txt bv-absolute">
                                <h3 class="bv-init">C20</h3>
                                <p class="p1 bv-init">Budget Phone with Trendy Design</p>
                            </div>
                        </section>
                        <section class="c20-2">
                            <h3 class="bv-font-title">Explore</h3>
                            <div class="c20-2-box bv-flex img-80p">
                                <div class="left bv-flex c20-2-box-item">
                                    <div class="left-item left-item-1">
                                        <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c2-1.png" alt="">
                                        <div class="txt-box bv-init">
                                            <p class="p1">6.088"</p>
                                            <p class="p2">HD+ Waterdrop Display</p>
                                        </div>
                                    </div>
                                    <div class="left-item left-item-3">
                                        <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c2-3.png" alt="">
                                        <div class="txt-box bv-init">
                                            <p class="p1">5MP+2MP</p>
                                            <p class="p2">Camera</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="middle c20-2-box-item">
                                    <div class="left-item left-item-2">
                                        <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c2-2.png" alt="">
                                        <div class="txt-box bv-init">
                                            <p class="p1">Dual SIM</p>
                                            <p class="p2">Dual Standby</p>
                                        </div>
                                    </div>
                                    <div class="left-item left-item-4">
                                        <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c2-4.png" alt="">
                                        <div class="txt-box bv-init">
                                            <p class="p1">1GB + 32GB</p>
                                            <p class="p2">RAM ROM</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="right c20-2-box-item">
                                    <img class="bv-pc"
                                        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c2-5.png" alt="">
                                    <img class="bv-phone"
                                        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c2-5-phone.png" alt="">
                                    <div class="txt-box bv-init">
                                        <p class="p1">1GB + 32GB</p>
                                        <p class="p2">RAM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ROM</p>
                                    </div>
                                </div>
                            </div>

                        </section>
                        <section class="c20-3">
                            <h3 class="bv-font-title bv-init">Artwork in Your Hands</h3>
                            <p class="bv-font-txt p1 bv-init">Treated with professional plating and sandblasting, <br>
                                the sophisticated back panel of water ripple pattern in living colors gives a sturdy and
                                premium
                                look.<br>
                                Weighing only 152g, the unibody design with the nicely-curved sides makes it more
                                delicate and
                                comfortable.
                            </p>
                            <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c3-1.png" alt="">
                        </section>
                        <section class="c20-4 bv-flex">
                            <div class="left">
                                <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c4-1.png" alt="">
                            </div>
                            <div class="right">
                                <p class="p1 bv-init"> Unibody Design <br> <span>152g</span> Light</p>
                            </div>
                        </section>
                        <section class="c20-5">
                            <div class="c20-5-txt-box bv-flex img-80p">
                                <div class="left c20-item bv-init">
                                    <p class="bv-samll-title">6.88" HD+ Display</p>
                                    <p class="bv-font-title">View Beyond Expectation</p>
                                </div>
                                <div class="right bv-font-txt c20-item bv-init">
                                    Discover more beauties with a broader vision thanks to the large 6.088" in-cell
                                    full-screen
                                    waterdrop display. 720*1640 HD+ resolution makes details vivid with rich colors and
                                    brilliant
                                    contrast.
                                </div>
                            </div>
                            <div class="c20-5-img-box img-80p">
                                <img class="c5-main-img"
                                    src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c5-1.png" alt="">
                                <ul class="bv-flex">
                                    <li>
                                        <div class="icon-left">
                                            <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c5-2.png"
                                                alt="">
                                        </div>
                                        <div class="icon-right">
                                            <p class="p2">19.5 : 9</p>
                                            <p class="p3">Aspect Ratio </p>
                                        </div>
                                    </li>
                                    <li class="li-middle">
                                        <div class="icon-left">
                                            <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c5-3.png"
                                                alt="">
                                        </div>
                                        <div class="icon-right">
                                            <p class="p2">720*1640</p>
                                            <p class="p3">HD Display</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-left">
                                            <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c5-4.png"
                                                alt="">
                                        </div>
                                        <div class="icon-right">
                                            <p class="p2">85%</p>
                                            <p class="p3">Screen-to-body Ratio</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <section class="c20-6">
                            <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c6-1.jpg" alt="">
                            <p class="p1 bv-init">Dark mode can be enabled to take it easy on your eyes.</p>
                        </section>
                        <section class="c20-7">
                            <div class="c20-7-box">
                                <p class="p1 bv-font-title bv-init">Dual SIM Cards Support</p>
                                <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c7-1.png" alt="">
                            </div>
                            <p class="p2 bv-font-txt bv-init">Use one SIM for work and another for entertainment. <br>
                                Easily switch between the two SIMs for your need.</p>
                        </section>
                        <section class="c20-8">
                            <ul class="bv-flex img-80p">
                                <li>
                                    <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c8-1.png" alt="">
                                    <p class="p1 bv-font-title bv-init">Navigation Function</p>
                                    <p class="p2 bv-font-txt bv-init">
                                        With the GPS, GLONASS and Beidou triple navigation system,
                                        just feel free to explore the unknown without losing your way.
                                    </p>
                                </li>
                                <li>
                                    <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c8-2.png" alt="">
                                    <p class="p1 bv-font-title bv-init">Easy Connectivity</p>
                                    <p class="p2 bv-font-txt bv-init">
                                        Connectivity options include 3G network, Wi-Fi 802.11 b/g/n,
                                        Bluetooth v4.2, FM radio, micro-USB, and a 3.5mm headphone jack.
                                    </p>
                                </li>
                            </ul>
                        </section>
                        <section class="c20-9">
                            <ul class="bv-flex">
                                <li class="li-1 li-item bv-init">
                                    <p class="bv-samll-title">Face Unlock</p>
                                    <p class="bv-font-title">Smart Face Unlock</p>
                                    <p class="bv-font-txt p1">Smarter and safer, recognize <br>
                                        your face and unlock the phone in a flash.
                                        No password is needed.</p>
                                    <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c9-3.png" alt="">
                                </li>
                                <li class="li-2 li-item"><img class="big-img"
                                        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/pic/c20-c9-1-20210805073524245.png"
                                        alt=""></li>
                                <li class="li-3 li-item"><img class="big-img"
                                        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c9-2.png" alt=""></li>
                            </ul>
                        </section>
                        <section class="c20-10">
                            <p class="bv-font-title bv-init">Smooth and Stable</p>
                            <p class="bv-font-txt img-80p bv-init">The quad-core Unisoc SC7731E processor improves the
                                performance by
                                20% and reduces energy consumption by 30%.
                                <br>It's powerful enough to provide a smooth experience whether for streaming videos or
                                gaming.
                            </p>
                            <img class="big-img" src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c10-1.png"
                                alt="">
                            <div class="quad-core bv-flex">
                                <div class="quad-core-left">
                                    <img class="big-img"
                                        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c10-2.png" alt="">
                                </div>
                                <div class="quad-core-right">
                                    <div class="quad-core-right-item bv-init">
                                        <span class="p1">Quad-core</span>
                                        <p class="p2 bv-samll-title">Processor </p>
                                    </div>
                                    <div class="quad-core-right-item">
                                        <span class="p1">1GB + 32GB</span>
                                        <p class="p2 bv-samll-title">
                                            RAM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ROM</p>
                                    </div>
                                    <div class="quad-core-right-item">
                                        <span class="p1">128GB</span>
                                        <p class="p2 bv-samll-title">Expandable storage</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="c20-11">
                            <div class="c20-11-box">
                                <p class="bv-samll-title bv-init">5MP Rear, 2MP Front Camera</p>
                                <p class="bv-font-title bv-init">Capture Every Brilliance</p>
                                <p class="bv-font-txt bv-init">
                                    Record wonderful moments not only in the eyes but in the cameras. <br>
                                    Support panoramic, time-lapse and professional modes and more for shooting. <br>
                                    Explore more possibilities with C20.
                                </p>
                                <img class="big-img" src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c11-1.png"
                                    alt="">
                            </div>
                        </section>
                        <section class="c20-12">
                            <p class="bv-init">Every Moment Tells a Great Story</p>
                            <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c12-1.png" alt="">
                        </section>
                        <section class="c20-13">
                            <ul class="bv-flex img-80p">
                                <li class="li-1 li-item">
                                    <p class="bv-samll-title bv-init">3380mAh Battery</p>
                                    <p class="bv-font-title bv-init">Keep Powered All Day</p>
                                    <p class="bv-font-txt bv-init">
                                        The 3380mAh large-capacity
                                        battery capably supports up to 24hrs
                                        of non-stop music enjoyment.
                                        Keep you entertained a day long
                                        without frequent charging hassles.
                                        The micro-USB port supports charging at 5W.
                                    </p>
                                    <div class="c20-img-box">
                                        <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c13-2.png"
                                            alt=""><img class="middle-img"
                                            src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c13-3.png"
                                            alt=""><img
                                            src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c13-4.png" alt="">

                                    </div>
                                </li>
                                <li class="li-2 li-item"><img class="big-img"
                                        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c13-1.png" alt=""></li>
                            </ul>
                        </section>
                        <section class="c20-14">
                            <div class="c20-14-box">
                                <p class="bv-font-title bv-init">
                                    New Android 11.0 OS
                                </p>
                                <p class="bv-font-txt bv-init">
                                    Carried with the Android 11.0 (Go edition) OS, <br>
                                    it boosts the speed by 20% for faster operation and higher efficiency.
                                </p>
                                <div class="c20-c14-item">
                                    <img class="big-img"
                                        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c14-1.png" alt="">
                                    <div class="c14-txt">
                                        <p class="p1 bv-pc bv-init">
                                            Brand new minimalist interface with optimized wallpapers and icons makes it
                                            easy to read and
                                            operate.<br>
                                            Moreover, privacy protection is enhanced with the Android 11.0 OS and
                                            built-in App Freezer
                                            for safer uses.
                                        </p>
                                    </div>
                                </div>
                                <div class="c20-c14-item-1 bv-flex">
                                    <div class="c20-14-left">
                                        <img class="big-img bv-pc"
                                            src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c15-1.png" alt="">
                                    </div>
                                    <div class="c20-14-right bv-flex">
                                        <div class="c20-14-right-txt">
                                            <p class="bv-font-title p2 bv-init">Smart App Freezer</p>
                                            <p class="p1 bv-init">
                                                One click to freeze rogue apps in the specialized cold room and stop
                                                their self starting
                                                or running.
                                                Save RAM to run apps smoothly and reduce power to last longer.
                                            </p>
                                        </div>
                                        <img class="add-app"
                                            src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c15-2.png" alt="">
                                    </div>

                                </div>
                            </div>
                        </section>
                        <section class="c20-15">
                            <p class="bv-font-title bv-init">Pick your favorite color</p>
                            <ul class="bv-flex">
                                <li class="li-1 li-item">
                                    <img class="big-img"
                                        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c16-1.png" alt="">
                                    <p>Airy Blue</p>
                                </li>
                                <li class="li-2 li-item">
                                    <img class="big-img"
                                        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c16-2.png" alt="">
                                    <p>Apple Green</p>
                                </li>
                                <li class="li-3 li-item">
                                    <img class="big-img"
                                        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c16-3.png" alt="">
                                    <p>Lavender Purple</p>
                                </li>
                                <li class="li-4 li-item">
                                    <img class="big-img"
                                        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c16-4.png" alt="">
                                    <p>Midnight Black</p>
                                </li>
                            </ul>
                        </section>
                        <section class="c20-16">
                            <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c17-1.png" alt="">
                        </section>
                        <section class="c20-17">
                            <ul class="bv-flex">
                                <li class="li-1 li-item">
                                    <img class="big-img"
                                        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c18-1.png" alt="">
                                </li>
                                <li class="li-2 li-item bv-init">
                                    Just Live Your Way <br> Show Your Style <br> to the Fullest
                                </li>
                            </ul>

                        </section>
                        <section class="c20-18">
                            <div class="bv-flex">
                                <div class="c20-left c20-18-item">
                                    <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c19-1.png" alt="">
                                    <div class="c20-item-box">
                                        <h3>C20</h3>
                                        <p class="p1">155.4*73.3*9.75mm, 152g</p>
                                        <p class="p2">6.088" HD+ Waterdrop Display</p>
                                        <p class="p1">3380mAh</p>
                                        <p class="p2">Android 11 (Go edition)</p>
                                        <p class="p1">Unisoc Quad-core SC7731E</p>
                                        <p class="p2">1GB + 32GB, expandable to 128GB</p>
                                        <p class="p1">3G SIM, Wifi, Bluetooth 4.2</p>
                                        <p class="p2">2MP Front Camera</p>
                                        <p class="p1">5MP Rear Camera</p>
                                    </div>

                                </div>
                                <div class="c20-right c20-18-item">
                                    <img src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/c20/c20-c19-2.png" alt="">
                                    <div class="c20-item-box">
                                        <h3>C20<span>Pro</span></h3>
                                        <p class="p1">155.4*73.5*9.5mm, 156g</p>
                                        <p class="p2">6.088" HD+ Waterdrop Display</p>
                                        <p class="p1">3380mAh</p>
                                        <p class="p2">Android 11 (Go edition)</p>
                                        <p class="p1">Unisoc Octa-core SC9863A</p>
                                        <p class="p2">2GB + 32GB, expandable to 128GB</p>
                                        <p class="p1">4G SIM, Wifi, Bluetooth 4.2</p>
                                        <p class="p2">2MP Front Camera</p>
                                        <p class="p1 p3">8MP Rear Camera</p>
                                    </div>
                                </div>
                            </div>

                        </section>
                    </div>
                    <script
                        src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/other/c20-20210805090103984.js"></script>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="products_spesc">
                        <div class="spesc-img-left">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img class="lazyload"
                                            data-src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/pic/c20-color1-20210805092722807.png"
                                            alt="pad8">
                                    </div>
                                    <div class="swiper-slide">
                                        <img class="lazyload"
                                            data-src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/pic/c20-color2-2021080509273111.png"
                                            alt="pad8">
                                    </div>
                                    <div class="swiper-slide">
                                        <img class="lazyload"
                                            data-src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/pic/c20-color3-20210805092739409.png"
                                            alt="pad8">
                                    </div>
                                    <div class="swiper-slide">
                                        <img class="lazyload"
                                            data-src="https://d2kbvjszk9d5ln.cloudfront.net/yshop/upload/pic/c20-color4-20210805092749953.png"
                                            alt="pad8">
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                        <div class="spesc-img-right">
                            <ul class="spesc-img-right-ul">
                                <li class="spesc-img-right-ul-li spesc-active" num='0'>
                                    <div class="spescColor"
                                        style="background: linear-gradient(90deg, #3A3A3A 10%, #A8A8A8 27%, #3A3A3A 46%, #5B5B5B 73%, #2C2C2C 99%);">
                                    </div>
                                    <p class="spescColorName">Midnight Black</p>
                                </li>
                                <li class="spesc-img-right-ul-li " num='1'>
                                    <div class="spescColor"
                                        style="background: linear-gradient(90deg, #2D677D 10%, #9AD4EA 27%, #316B81 46%, #5E98AE 73%, #144E64 99%);">
                                    </div>
                                    <p class="spescColorName">Airy Blue </p>
                                </li>
                                <li class="spesc-img-right-ul-li " num='2'>
                                    <div class="spescColor"
                                        style="background: linear-gradient(90deg, #76AD98 10%, #D2F7EB 27%, #7AB29D 46%, #A0E0CD 73%, #538470 99%);">
                                    </div>
                                    <p class="spescColorName">Apple Green</p>
                                </li>
                                <li class="spesc-img-right-ul-li " num='3'>
                                    <div class="spescColor"
                                        style="background: linear-gradient(90deg, #7771BE 10%, #E8EFFA 27%, #938FE7 46%, #B3B4F6 73%, #5E5A9D 99%);">
                                    </div>
                                    <p class="spescColorName">Lavender Purple</p>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="oscal-spescBoxBg">
                        <div class="oscal-specification-table">
                            <table>
                                <tr>
                                    <td>
                                    </td>
                                    <td class="oscal-specification-table-tit">
                                        <p>C20</p>
                                    </td>
                                    <td class="oscal-specification-table-tit">
                                        <p>C20Pro</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="oscal-specification-table-tit">
                                        <p>Size</p>
                                    </td>
                                    <td>
                                        <p>155.4*73.3*9.75mm, 152g</p>
                                    </td>
                                    <td>
                                        <p>155.4*73.5*9.5mm, 156g</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="oscal-specification-table-tit">
                                        <p>Display</p>
                                    </td>
                                    <td>
                                        <p>6.088" HD+ Waterdrop Display</p>
                                    </td>
                                    <td>
                                        <p>6.088" HD+ Waterdrop Display</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="oscal-specification-table-tit">
                                        <p>Battery </p>
                                    </td>
                                    <td>
                                        <p>3380mAh</p>
                                    </td>
                                    <td>
                                        <p>3380mAh</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="oscal-specification-table-tit">
                                        <p>System</p>
                                    </td>
                                    <td>
                                        <p>Android 11 (Go edition)</p>
                                    </td>
                                    <td>
                                        <p>Android 11 (Go edition)</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="oscal-specification-table-tit">
                                        <p>Processor</p>
                                    </td>
                                    <td>
                                        <p>Unisoc Quad-core SC7731E</p>
                                    </td>
                                    <td>
                                        <p>Unisoc Octa-core SC9863A</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="oscal-specification-table-tit">
                                        <p>Storage</p>
                                    </td>
                                    <td>
                                        <p> 1GB + 32GB, expandable to 128GB</p>
                                    </td>
                                    <td>
                                        <p> 2GB + 32GB, expandable to 128GB</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="oscal-specification-table-tit">
                                        <p>Connectivity</p>
                                    </td>
                                    <td>
                                        <p>3G SIM, Wifi, Bluetooth 4.2</p>
                                    </td>
                                    <td>
                                        <p>4G SIM, Wifi, Bluetooth 4.2</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="oscal-specification-table-tit">
                                        <p>Front Camera</p>
                                    </td>
                                    <td>
                                        <p> 2MP Front Camera</p>
                                    </td>
                                    <td>
                                        <p> 2MP Front Camera</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="oscal-specification-table-tit">
                                        <p>Rear Camera</p>
                                    </td>
                                    <td>
                                        <p>5MP Rear Camera</p>
                                    </td>
                                    <td>
                                        <p>8MP Rear Camera</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="go-top">
            <span class="top-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-chevron-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                </svg>
            </span>
        </div>
    </div>
    <div id="footer" th:include="footer :: myFooter">
    </div>
</body>

</html>
<script async src="../static/lib/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script src="../static/js/public.js"></script>
<script src="../static/lib/js/swiper.min.js"></script>
<script src="../static/js/productsDetail.js"></script>